<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Q</key>
	<dict>
		<key>public.kern2.J</key>
		<integer>-49</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-99</integer>
		<key>public.kern2.H</key>
		<integer>-15</integer>
		<key>public.kern2.J</key>
		<integer>-23</integer>
		<key>public.kern2.M</key>
		<integer>-80</integer>
		<key>public.kern2.O</key>
		<integer>-83</integer>
		<key>public.kern2.S</key>
		<integer>-108</integer>
		<key>public.kern2.T</key>
		<integer>-180</integer>
		<key>public.kern2.U</key>
		<integer>-26</integer>
		<key>public.kern2.W</key>
		<integer>-184</integer>
		<key>public.kern2.X</key>
		<integer>-34</integer>
		<key>public.kern2.Y</key>
		<integer>-234</integer>
		<key>public.kern2.Z</key>
		<integer>-30</integer>
		<key>public.kern2.asterisk</key>
		<integer>-120</integer>
		<key>public.kern2.f</key>
		<integer>-88</integer>
		<key>public.kern2.h</key>
		<integer>-38</integer>
		<key>public.kern2.hyphen</key>
		<integer>-40</integer>
		<key>public.kern2.i</key>
		<integer>-48</integer>
		<key>public.kern2.j</key>
		<integer>-38</integer>
		<key>public.kern2.o</key>
		<integer>-100</integer>
		<key>public.kern2.p</key>
		<integer>-34</integer>
		<key>public.kern2.quotedblleft</key>
		<integer>-56</integer>
		<key>public.kern2.quoteright</key>
		<integer>-56</integer>
		<key>public.kern2.s</key>
		<integer>-69</integer>
		<key>public.kern2.t</key>
		<integer>-110</integer>
		<key>public.kern2.u</key>
		<integer>-68</integer>
		<key>public.kern2.w</key>
		<integer>-151</integer>
		<key>public.kern2.x</key>
		<integer>-55</integer>
		<key>public.kern2.y</key>
		<integer>-156</integer>
		<key>public.kern2.z</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.B</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-63</integer>
		<key>public.kern2.H</key>
		<integer>40</integer>
		<key>public.kern2.J</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-4</integer>
		<key>public.kern2.T</key>
		<integer>-80</integer>
		<key>public.kern2.U</key>
		<integer>-4</integer>
		<key>public.kern2.W</key>
		<integer>-3</integer>
		<key>public.kern2.Y</key>
		<integer>-23</integer>
		<key>public.kern2.period</key>
		<integer>-19</integer>
		<key>public.kern2.u</key>
		<integer>-23</integer>
		<key>public.kern2.y</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>idieresis</key>
		<integer>38</integer>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.H</key>
		<integer>14</integer>
		<key>public.kern2.J</key>
		<integer>-65</integer>
		<key>public.kern2.M</key>
		<integer>-8</integer>
		<key>public.kern2.O</key>
		<integer>-19</integer>
		<key>public.kern2.T</key>
		<integer>-30</integer>
		<key>public.kern2.W</key>
		<integer>-11</integer>
		<key>public.kern2.X</key>
		<integer>19</integer>
		<key>public.kern2.Y</key>
		<integer>-23</integer>
		<key>public.kern2.colon</key>
		<integer>-19</integer>
		<key>public.kern2.hyphen</key>
		<integer>-40</integer>
		<key>public.kern2.i</key>
		<integer>-19</integer>
		<key>public.kern2.n</key>
		<integer>-19</integer>
		<key>public.kern2.o</key>
		<integer>-71</integer>
		<key>public.kern2.period</key>
		<integer>-19</integer>
		<key>public.kern2.u</key>
		<integer>-19</integer>
		<key>public.kern2.y</key>
		<integer>-89</integer>
	</dict>
	<key>public.kern1.E</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-15</integer>
		<key>public.kern2.H</key>
		<integer>13</integer>
		<key>public.kern2.J</key>
		<integer>-8</integer>
		<key>public.kern2.O</key>
		<integer>-19</integer>
		<key>public.kern2.W</key>
		<integer>19</integer>
		<key>public.kern2.o</key>
		<integer>-49</integer>
		<key>public.kern2.quoteright</key>
		<integer>11</integer>
		<key>public.kern2.u</key>
		<integer>-15</integer>
		<key>public.kern2.w</key>
		<integer>-36</integer>
		<key>public.kern2.x</key>
		<integer>-54</integer>
		<key>public.kern2.y</key>
		<integer>-48</integer>
	</dict>
	<key>public.kern1.F</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-159</integer>
		<key>public.kern2.H</key>
		<integer>13</integer>
		<key>public.kern2.J</key>
		<integer>-139</integer>
		<key>public.kern2.M</key>
		<integer>-60</integer>
		<key>public.kern2.O</key>
		<integer>-38</integer>
		<key>public.kern2.i</key>
		<integer>-56</integer>
		<key>public.kern2.n</key>
		<integer>-69</integer>
		<key>public.kern2.o</key>
		<integer>-98</integer>
		<key>public.kern2.period</key>
		<integer>-80</integer>
		<key>public.kern2.u</key>
		<integer>-69</integer>
		<key>public.kern2.y</key>
		<integer>-69</integer>
	</dict>
	<key>public.kern1.H</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-15</integer>
		<key>public.kern2.H</key>
		<integer>20</integer>
		<key>public.kern2.U</key>
		<integer>11</integer>
		<key>public.kern2.W</key>
		<integer>25</integer>
		<key>public.kern2.o</key>
		<integer>-19</integer>
		<key>public.kern2.y</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.J</key>
	<dict>
		<key>public.kern2.W</key>
		<integer>50</integer>
		<key>public.kern2.Y</key>
		<integer>13</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
		<key>public.kern2.quoteright</key>
		<integer>38</integer>
	</dict>
	<key>public.kern1.K</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-11</integer>
		<key>public.kern2.H</key>
		<integer>13</integer>
		<key>public.kern2.O</key>
		<integer>-70</integer>
		<key>public.kern2.S</key>
		<integer>-15</integer>
		<key>public.kern2.hyphen</key>
		<integer>-60</integer>
		<key>public.kern2.o</key>
		<integer>-75</integer>
		<key>public.kern2.u</key>
		<integer>-53</integer>
		<key>public.kern2.w</key>
		<integer>-79</integer>
		<key>public.kern2.y</key>
		<integer>-88</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-38</integer>
		<key>public.kern2.O</key>
		<integer>-110</integer>
		<key>public.kern2.T</key>
		<integer>-150</integer>
		<key>public.kern2.U</key>
		<integer>-84</integer>
		<key>public.kern2.W</key>
		<integer>-190</integer>
		<key>public.kern2.X</key>
		<integer>-40</integer>
		<key>public.kern2.Y</key>
		<integer>-130</integer>
		<key>public.kern2.asterisk</key>
		<integer>-75</integer>
		<key>public.kern2.f</key>
		<integer>-46</integer>
		<key>public.kern2.hyphen</key>
		<integer>-60</integer>
		<key>public.kern2.o</key>
		<integer>-101</integer>
		<key>public.kern2.u</key>
		<integer>-123</integer>
		<key>public.kern2.w</key>
		<integer>-170</integer>
		<key>public.kern2.y</key>
		<integer>-163</integer>
	</dict>
	<key>public.kern1.M</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-83</integer>
		<key>public.kern2.O</key>
		<integer>-53</integer>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.U</key>
		<integer>-38</integer>
		<key>public.kern2.W</key>
		<integer>-78</integer>
		<key>public.kern2.Y</key>
		<integer>-74</integer>
		<key>public.kern2.asterisk</key>
		<integer>-38</integer>
		<key>public.kern2.hyphen</key>
		<integer>-20</integer>
		<key>public.kern2.i</key>
		<integer>-19</integer>
		<key>public.kern2.o</key>
		<integer>-83</integer>
		<key>public.kern2.question</key>
		<integer>-26</integer>
		<key>public.kern2.u</key>
		<integer>-50</integer>
		<key>public.kern2.y</key>
		<integer>-116</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>public.kern2.1</key>
		<integer>-31</integer>
		<key>public.kern2.A</key>
		<integer>-83</integer>
		<key>public.kern2.H</key>
		<integer>36</integer>
		<key>public.kern2.J</key>
		<integer>-90</integer>
		<key>public.kern2.M</key>
		<integer>-34</integer>
		<key>public.kern2.O</key>
		<integer>-8</integer>
		<key>public.kern2.S</key>
		<integer>13</integer>
		<key>public.kern2.T</key>
		<integer>-105</integer>
		<key>public.kern2.W</key>
		<integer>-30</integer>
		<key>public.kern2.X</key>
		<integer>-53</integer>
		<key>public.kern2.Y</key>
		<integer>-83</integer>
		<key>public.kern2.Z</key>
		<integer>-15</integer>
		<key>public.kern2.h</key>
		<integer>-15</integer>
		<key>public.kern2.i</key>
		<integer>-8</integer>
		<key>public.kern2.n</key>
		<integer>-4</integer>
		<key>public.kern2.o</key>
		<integer>-15</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
		<key>public.kern2.u</key>
		<integer>-15</integer>
		<key>public.kern2.w</key>
		<integer>-40</integer>
		<key>public.kern2.y</key>
		<integer>-48</integer>
	</dict>
	<key>public.kern1.P</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-206</integer>
		<key>public.kern2.H</key>
		<integer>1</integer>
		<key>public.kern2.J</key>
		<integer>-111</integer>
		<key>public.kern2.M</key>
		<integer>-84</integer>
		<key>public.kern2.T</key>
		<integer>-59</integer>
		<key>public.kern2.W</key>
		<integer>-23</integer>
		<key>public.kern2.X</key>
		<integer>-74</integer>
		<key>public.kern2.Y</key>
		<integer>-66</integer>
		<key>public.kern2.Z</key>
		<integer>-56</integer>
		<key>public.kern2.h</key>
		<integer>-8</integer>
		<key>public.kern2.hyphen</key>
		<integer>-60</integer>
		<key>public.kern2.i</key>
		<integer>-23</integer>
		<key>public.kern2.j</key>
		<integer>-69</integer>
		<key>public.kern2.n</key>
		<integer>-23</integer>
		<key>public.kern2.o</key>
		<integer>-80</integer>
		<key>public.kern2.period</key>
		<integer>-120</integer>
		<key>public.kern2.u</key>
		<integer>-54</integer>
		<key>public.kern2.y</key>
		<integer>-46</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-26</integer>
		<key>public.kern2.H</key>
		<integer>15</integer>
		<key>public.kern2.J</key>
		<integer>-34</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-8</integer>
		<key>public.kern2.T</key>
		<integer>-15</integer>
		<key>public.kern2.W</key>
		<integer>-30</integer>
		<key>public.kern2.Y</key>
		<integer>-60</integer>
		<key>public.kern2.hyphen</key>
		<integer>-30</integer>
		<key>public.kern2.i</key>
		<integer>-23</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.u</key>
		<integer>-23</integer>
		<key>public.kern2.y</key>
		<integer>-43</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.H</key>
		<integer>13</integer>
		<key>public.kern2.J</key>
		<integer>-26</integer>
		<key>public.kern2.O</key>
		<integer>-11</integer>
		<key>public.kern2.T</key>
		<integer>-53</integer>
		<key>public.kern2.W</key>
		<integer>-23</integer>
		<key>public.kern2.Y</key>
		<integer>-38</integer>
		<key>public.kern2.i</key>
		<integer>-11</integer>
		<key>public.kern2.n</key>
		<integer>-11</integer>
		<key>public.kern2.o</key>
		<integer>-15</integer>
		<key>public.kern2.p</key>
		<integer>-11</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
		<key>public.kern2.t</key>
		<integer>-8</integer>
		<key>public.kern2.u</key>
		<integer>-11</integer>
		<key>public.kern2.w</key>
		<integer>-19</integer>
		<key>public.kern2.y</key>
		<integer>-73</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>idieresis</key>
		<integer>-25</integer>
		<key>public.kern2.A</key>
		<integer>-200</integer>
		<key>public.kern2.J</key>
		<integer>-174</integer>
		<key>public.kern2.M</key>
		<integer>-100</integer>
		<key>public.kern2.O</key>
		<integer>-80</integer>
		<key>public.kern2.S</key>
		<integer>-38</integer>
		<key>public.kern2.h</key>
		<integer>-49</integer>
		<key>public.kern2.hyphen</key>
		<integer>-60</integer>
		<key>public.kern2.i</key>
		<integer>-131</integer>
		<key>public.kern2.n</key>
		<integer>-166</integer>
		<key>public.kern2.o</key>
		<integer>-163</integer>
		<key>public.kern2.period</key>
		<integer>-120</integer>
		<key>public.kern2.s</key>
		<integer>-150</integer>
		<key>public.kern2.u</key>
		<integer>-114</integer>
		<key>public.kern2.w</key>
		<integer>-194</integer>
		<key>public.kern2.y</key>
		<integer>-185</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-64</integer>
		<key>public.kern2.J</key>
		<integer>-23</integer>
		<key>public.kern2.M</key>
		<integer>-11</integer>
		<key>public.kern2.n</key>
		<integer>-15</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.W</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-184</integer>
		<key>public.kern2.H</key>
		<integer>10</integer>
		<key>public.kern2.J</key>
		<integer>-180</integer>
		<key>public.kern2.M</key>
		<integer>-70</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-23</integer>
		<key>public.kern2.W</key>
		<integer>-8</integer>
		<key>public.kern2.X</key>
		<integer>-8</integer>
		<key>public.kern2.Y</key>
		<integer>-8</integer>
		<key>public.kern2.Z</key>
		<integer>-8</integer>
		<key>public.kern2.h</key>
		<integer>-23</integer>
		<key>public.kern2.hyphen</key>
		<integer>-60</integer>
		<key>public.kern2.i</key>
		<integer>-71</integer>
		<key>public.kern2.n</key>
		<integer>-60</integer>
		<key>public.kern2.o</key>
		<integer>-131</integer>
		<key>public.kern2.period</key>
		<integer>-40</integer>
		<key>public.kern2.s</key>
		<integer>-30</integer>
		<key>public.kern2.t</key>
		<integer>-15</integer>
		<key>public.kern2.u</key>
		<integer>-88</integer>
		<key>public.kern2.w</key>
		<integer>-11</integer>
		<key>public.kern2.x</key>
		<integer>-45</integer>
		<key>public.kern2.y</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.X</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-38</integer>
		<key>public.kern2.H</key>
		<integer>38</integer>
		<key>public.kern2.O</key>
		<integer>-53</integer>
		<key>public.kern2.W</key>
		<integer>-8</integer>
		<key>public.kern2.hyphen</key>
		<integer>-71</integer>
		<key>public.kern2.o</key>
		<integer>-61</integer>
		<key>public.kern2.y</key>
		<integer>-61</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>idieresis</key>
		<integer>-56</integer>
		<key>public.kern2.A</key>
		<integer>-215</integer>
		<key>public.kern2.H</key>
		<integer>38</integer>
		<key>public.kern2.J</key>
		<integer>-218</integer>
		<key>public.kern2.M</key>
		<integer>-74</integer>
		<key>public.kern2.O</key>
		<integer>-83</integer>
		<key>public.kern2.S</key>
		<integer>-38</integer>
		<key>public.kern2.W</key>
		<integer>-8</integer>
		<key>public.kern2.hyphen</key>
		<integer>-68</integer>
		<key>public.kern2.i</key>
		<integer>-90</integer>
		<key>public.kern2.n</key>
		<integer>-108</integer>
		<key>public.kern2.o</key>
		<integer>-165</integer>
		<key>public.kern2.p</key>
		<integer>-110</integer>
		<key>public.kern2.period</key>
		<integer>-135</integer>
		<key>public.kern2.s</key>
		<integer>-100</integer>
		<key>public.kern2.u</key>
		<integer>-81</integer>
		<key>public.kern2.w</key>
		<integer>-138</integer>
		<key>public.kern2.z</key>
		<integer>-95</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.O</key>
		<integer>-34</integer>
		<key>public.kern2.hyphen</key>
		<integer>-68</integer>
		<key>public.kern2.o</key>
		<integer>-46</integer>
		<key>public.kern2.y</key>
		<integer>-76</integer>
	</dict>
	<key>public.kern1.c</key>
	<dict>
		<key>public.kern2.h</key>
		<integer>-11</integer>
		<key>public.kern2.i</key>
		<integer>-19</integer>
		<key>public.kern2.o</key>
		<integer>-19</integer>
		<key>public.kern2.u</key>
		<integer>-11</integer>
		<key>public.kern2.w</key>
		<integer>-15</integer>
		<key>public.kern2.y</key>
		<integer>-38</integer>
	</dict>
	<key>public.kern1.e</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>25</integer>
		<key>public.kern2.j</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-11</integer>
		<key>public.kern2.p</key>
		<integer>-15</integer>
		<key>public.kern2.s</key>
		<integer>-8</integer>
		<key>public.kern2.w</key>
		<integer>-38</integer>
		<key>public.kern2.x</key>
		<integer>-38</integer>
		<key>public.kern2.y</key>
		<integer>-38</integer>
	</dict>
	<key>public.kern1.f</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.H</key>
		<integer>10</integer>
		<key>public.kern2.J</key>
		<integer>-80</integer>
		<key>public.kern2.M</key>
		<integer>-66</integer>
		<key>public.kern2.O</key>
		<integer>14</integer>
		<key>public.kern2.W</key>
		<integer>46</integer>
		<key>public.kern2.f</key>
		<integer>25</integer>
		<key>public.kern2.h</key>
		<integer>19</integer>
		<key>public.kern2.hyphen</key>
		<integer>-20</integer>
		<key>public.kern2.i</key>
		<integer>-8</integer>
		<key>public.kern2.j</key>
		<integer>-5</integer>
		<key>public.kern2.n</key>
		<integer>33</integer>
		<key>public.kern2.o</key>
		<integer>-24</integer>
		<key>public.kern2.period</key>
		<integer>-40</integer>
		<key>public.kern2.s</key>
		<integer>-30</integer>
		<key>public.kern2.t</key>
		<integer>33</integer>
		<key>public.kern2.u</key>
		<integer>25</integer>
		<key>public.kern2.w</key>
		<integer>-14</integer>
		<key>public.kern2.x</key>
		<integer>1</integer>
		<key>public.kern2.y</key>
		<integer>-3</integer>
		<key>public.kern2.z</key>
		<integer>4</integer>
	</dict>
	<key>public.kern1.five</key>
	<dict>
		<key>public.kern2.five</key>
		<integer>-30</integer>
		<key>public.kern2.zero</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.four</key>
	<dict>
		<key>public.kern2.zero</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.g</key>
	<dict>
		<key>public.kern2.h</key>
		<integer>-11</integer>
		<key>public.kern2.i</key>
		<integer>-11</integer>
		<key>public.kern2.j</key>
		<integer>23</integer>
		<key>public.kern2.o</key>
		<integer>-19</integer>
		<key>public.kern2.w</key>
		<integer>-11</integer>
		<key>public.kern2.x</key>
		<integer>-13</integer>
		<key>public.kern2.y</key>
		<integer>-66</integer>
		<key>public.kern2.z</key>
		<integer>-8</integer>
	</dict>
	<key>public.kern1.i</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.W</key>
		<integer>-56</integer>
		<key>public.kern2.Y</key>
		<integer>-90</integer>
		<key>public.kern2.j</key>
		<integer>-43</integer>
		<key>public.kern2.n</key>
		<integer>-4</integer>
		<key>public.kern2.p</key>
		<integer>-8</integer>
		<key>public.kern2.s</key>
		<integer>-8</integer>
		<key>public.kern2.y</key>
		<integer>-26</integer>
	</dict>
	<key>public.kern1.k</key>
	<dict>
		<key>g</key>
		<integer>-58</integer>
		<key>public.kern2.hyphen</key>
		<integer>-38</integer>
		<key>public.kern2.i</key>
		<integer>-15</integer>
		<key>public.kern2.j</key>
		<integer>-35</integer>
		<key>public.kern2.o</key>
		<integer>-65</integer>
		<key>public.kern2.s</key>
		<integer>-38</integer>
		<key>public.kern2.t</key>
		<integer>-19</integer>
		<key>public.kern2.u</key>
		<integer>-19</integer>
		<key>public.kern2.w</key>
		<integer>-15</integer>
		<key>public.kern2.y</key>
		<integer>-34</integer>
	</dict>
	<key>public.kern1.l</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>23</integer>
		<key>public.kern2.w</key>
		<integer>-11</integer>
		<key>public.kern2.y</key>
		<integer>-34</integer>
	</dict>
	<key>public.kern1.n</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-139</integer>
		<key>public.kern2.W</key>
		<integer>-30</integer>
		<key>public.kern2.Y</key>
		<integer>-135</integer>
		<key>public.kern2.j</key>
		<integer>15</integer>
		<key>public.kern2.o</key>
		<integer>-28</integer>
		<key>public.kern2.w</key>
		<integer>-23</integer>
		<key>public.kern2.x</key>
		<integer>-11</integer>
		<key>public.kern2.y</key>
		<integer>-26</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.H</key>
		<integer>-19</integer>
		<key>public.kern2.M</key>
		<integer>-83</integer>
		<key>public.kern2.T</key>
		<integer>-163</integer>
		<key>public.kern2.W</key>
		<integer>-131</integer>
		<key>public.kern2.X</key>
		<integer>-30</integer>
		<key>public.kern2.Y</key>
		<integer>-165</integer>
		<key>public.kern2.h</key>
		<integer>-15</integer>
		<key>public.kern2.i</key>
		<integer>-23</integer>
		<key>public.kern2.j</key>
		<integer>-19</integer>
		<key>public.kern2.n</key>
		<integer>-11</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
		<key>public.kern2.p</key>
		<integer>-11</integer>
		<key>public.kern2.period</key>
		<integer>-20</integer>
		<key>public.kern2.t</key>
		<integer>-31</integer>
		<key>public.kern2.u</key>
		<integer>-23</integer>
		<key>public.kern2.w</key>
		<integer>-48</integer>
		<key>public.kern2.x</key>
		<integer>-83</integer>
		<key>public.kern2.y</key>
		<integer>-63</integer>
		<key>public.kern2.z</key>
		<integer>-36</integer>
	</dict>
	<key>public.kern1.period</key>
	<dict>
		<key>public.kern2.asterisk</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-8</integer>
	</dict>
	<key>public.kern1.q</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-60</integer>
		<key>public.kern2.j</key>
		<integer>111</integer>
		<key>public.kern2.u</key>
		<integer>-15</integer>
		<key>public.kern2.w</key>
		<integer>-11</integer>
	</dict>
	<key>public.kern1.quotedblleft</key>
	<dict>
		<key>public.kern2.M</key>
		<integer>-95</integer>
		<key>public.kern2.S</key>
		<integer>-30</integer>
		<key>public.kern2.n</key>
		<integer>-11</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.s</key>
		<integer>-15</integer>
		<key>public.kern2.w</key>
		<integer>-19</integer>
	</dict>
	<key>public.kern1.quoteleft</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.H</key>
		<integer>11</integer>
		<key>public.kern2.J</key>
		<integer>-38</integer>
	</dict>
	<key>public.kern1.quotesingle</key>
	<dict>
		<key>public.kern2.s</key>
		<integer>-23</integer>
	</dict>
	<key>public.kern1.r</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-24</integer>
		<key>public.kern2.W</key>
		<integer>-11</integer>
		<key>public.kern2.f</key>
		<integer>40</integer>
		<key>public.kern2.h</key>
		<integer>30</integer>
		<key>public.kern2.hyphen</key>
		<integer>-20</integer>
		<key>public.kern2.j</key>
		<integer>-24</integer>
		<key>public.kern2.o</key>
		<integer>-73</integer>
		<key>public.kern2.p</key>
		<integer>19</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
		<key>public.kern2.t</key>
		<integer>50</integer>
		<key>public.kern2.u</key>
		<integer>-20</integer>
		<key>public.kern2.w</key>
		<integer>34</integer>
		<key>public.kern2.x</key>
		<integer>20</integer>
		<key>public.kern2.y</key>
		<integer>-11</integer>
		<key>public.kern2.z</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.s</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-38</integer>
		<key>public.kern2.W</key>
		<integer>-30</integer>
		<key>public.kern2.i</key>
		<integer>-11</integer>
		<key>public.kern2.j</key>
		<integer>11</integer>
		<key>public.kern2.o</key>
		<integer>-8</integer>
		<key>public.kern2.period</key>
		<integer>-10</integer>
		<key>public.kern2.w</key>
		<integer>-11</integer>
		<key>public.kern2.x</key>
		<integer>-23</integer>
		<key>public.kern2.y</key>
		<integer>-23</integer>
	</dict>
	<key>public.kern1.seven</key>
	<dict>
		<key>public.kern2.four</key>
		<integer>-165</integer>
		<key>public.kern2.hyphen</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.t</key>
	<dict>
		<key>public.kern2.W</key>
		<integer>-8</integer>
		<key>public.kern2.h</key>
		<integer>-20</integer>
		<key>public.kern2.hyphen</key>
		<integer>-20</integer>
		<key>public.kern2.i</key>
		<integer>-26</integer>
		<key>public.kern2.j</key>
		<integer>-6</integer>
		<key>public.kern2.o</key>
		<integer>-30</integer>
		<key>public.kern2.p</key>
		<integer>-30</integer>
		<key>public.kern2.period</key>
		<integer>-20</integer>
		<key>public.kern2.s</key>
		<integer>-8</integer>
		<key>public.kern2.y</key>
		<integer>-19</integer>
	</dict>
	<key>public.kern1.two</key>
	<dict>
		<key>public.kern2.four</key>
		<integer>-60</integer>
		<key>public.kern2.zero</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.u</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-44</integer>
		<key>public.kern2.j</key>
		<integer>-4</integer>
		<key>public.kern2.o</key>
		<integer>-8</integer>
		<key>public.kern2.p</key>
		<integer>-23</integer>
		<key>public.kern2.y</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.w</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-151</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.T</key>
		<integer>-194</integer>
		<key>public.kern2.W</key>
		<integer>-30</integer>
		<key>public.kern2.Y</key>
		<integer>-38</integer>
		<key>public.kern2.h</key>
		<integer>-15</integer>
		<key>public.kern2.hyphen</key>
		<integer>-30</integer>
		<key>public.kern2.i</key>
		<integer>-15</integer>
		<key>public.kern2.j</key>
		<integer>8</integer>
		<key>public.kern2.o</key>
		<integer>-63</integer>
		<key>public.kern2.p</key>
		<integer>-8</integer>
		<key>public.kern2.period</key>
		<integer>-51</integer>
		<key>public.kern2.s</key>
		<integer>-19</integer>
		<key>public.kern2.w</key>
		<integer>-11</integer>
		<key>public.kern2.x</key>
		<integer>-11</integer>
		<key>public.kern2.y</key>
		<integer>-34</integer>
		<key>public.kern2.z</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.x</key>
	<dict>
		<key>g</key>
		<integer>-55</integer>
		<key>public.kern2.W</key>
		<integer>-45</integer>
		<key>public.kern2.hyphen</key>
		<integer>-30</integer>
		<key>public.kern2.i</key>
		<integer>-23</integer>
		<key>public.kern2.j</key>
		<integer>8</integer>
		<key>public.kern2.n</key>
		<integer>-23</integer>
		<key>public.kern2.o</key>
		<integer>-70</integer>
		<key>public.kern2.p</key>
		<integer>-23</integer>
		<key>public.kern2.s</key>
		<integer>-23</integer>
		<key>public.kern2.w</key>
		<integer>-11</integer>
		<key>public.kern2.y</key>
		<integer>-45</integer>
	</dict>
	<key>public.kern1.y</key>
	<dict>
		<key>g</key>
		<integer>-53</integer>
		<key>public.kern2.h</key>
		<integer>-23</integer>
		<key>public.kern2.hyphen</key>
		<integer>-41</integer>
		<key>public.kern2.i</key>
		<integer>-23</integer>
		<key>public.kern2.j</key>
		<integer>0</integer>
		<key>public.kern2.n</key>
		<integer>-11</integer>
		<key>public.kern2.o</key>
		<integer>-64</integer>
		<key>public.kern2.p</key>
		<integer>-26</integer>
		<key>public.kern2.period</key>
		<integer>-71</integer>
		<key>public.kern2.s</key>
		<integer>-23</integer>
		<key>public.kern2.t</key>
		<integer>-15</integer>
		<key>public.kern2.x</key>
		<integer>-19</integer>
		<key>public.kern2.y</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.z</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-45</integer>
		<key>public.kern2.j</key>
		<integer>-11</integer>
		<key>public.kern2.o</key>
		<integer>-11</integer>
		<key>public.kern2.w</key>
		<integer>-15</integer>
		<key>public.kern2.y</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.zero</key>
	<dict>
		<key>public.kern2.zero</key>
		<integer>-23</integer>
	</dict>
</dict>
</plist>
