<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-45.2</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-95.2</real>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <real>-30.4</real>
      <key>public.kern2.M</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <real>-90.4</real>
      <key>public.kern2.S</key>
      <real>-110.4</real>
      <key>public.kern2.T</key>
      <integer>-180</integer>
      <key>public.kern2.U</key>
      <real>-34.8</real>
      <key>public.kern2.W</key>
      <real>-185.2</real>
      <key>public.kern2.X</key>
      <real>-45.2</real>
      <key>public.kern2.Y</key>
      <real>-245.2</real>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.asterisk</key>
      <integer>-120</integer>
      <key>public.kern2.f</key>
      <real>-80.4</real>
      <key>public.kern2.h</key>
      <real>-40.4</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <real>-50.4</real>
      <key>public.kern2.j</key>
      <real>-30.4</real>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.p</key>
      <real>-45.2</real>
      <key>public.kern2.quotedblleft</key>
      <real>-74.8</real>
      <key>public.kern2.quoteright</key>
      <real>-74.8</real>
      <key>public.kern2.s</key>
      <real>-75.2</real>
      <key>public.kern2.t</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <real>-70.4</real>
      <key>public.kern2.w</key>
      <real>-154.8</real>
      <key>public.kern2.x</key>
      <integer>-60</integer>
      <key>public.kern2.y</key>
      <real>-164.8</real>
      <key>public.kern2.z</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-70.4</real>
      <key>public.kern2.H</key>
      <integer>40</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <real>-15.200000000000001</real>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <real>-5.2</real>
      <key>public.kern2.W</key>
      <real>-10.4</real>
      <key>public.kern2.Y</key>
      <real>-30.4</real>
      <key>public.kern2.period</key>
      <real>-25.2</real>
      <key>public.kern2.u</key>
      <real>-30.4</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>idieresis</key>
      <real>50.4</real>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.H</key>
      <real>5.199999999999999</real>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.M</key>
      <real>-10.4</real>
      <key>public.kern2.O</key>
      <real>-25.2</real>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <real>-24.8</real>
      <key>public.kern2.X</key>
      <real>15.2</real>
      <key>public.kern2.Y</key>
      <real>-30.4</real>
      <key>public.kern2.colon</key>
      <real>-25.2</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <real>-25.2</real>
      <key>public.kern2.n</key>
      <real>-25.2</real>
      <key>public.kern2.o</key>
      <real>-74.8</real>
      <key>public.kern2.period</key>
      <real>-25.2</real>
      <key>public.kern2.u</key>
      <real>-25.2</real>
      <key>public.kern2.y</key>
      <real>-95.2</real>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <real>10.4</real>
      <key>public.kern2.J</key>
      <real>-10.4</real>
      <key>public.kern2.O</key>
      <real>-15.2</real>
      <key>public.kern2.W</key>
      <real>15.2</real>
      <key>public.kern2.o</key>
      <real>-45.2</real>
      <key>public.kern2.quoteright</key>
      <real>14.8</real>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <real>-34.8</real>
      <key>public.kern2.x</key>
      <real>-55.2</real>
      <key>public.kern2.y</key>
      <real>-50.4</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-155.2</real>
      <key>public.kern2.H</key>
      <real>10.4</real>
      <key>public.kern2.J</key>
      <real>-145.2</real>
      <key>public.kern2.M</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <real>-30.4</real>
      <key>public.kern2.i</key>
      <real>-54.8</real>
      <key>public.kern2.n</key>
      <real>-65.2</real>
      <key>public.kern2.o</key>
      <real>-90.4</real>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.u</key>
      <real>-65.2</real>
      <key>public.kern2.y</key>
      <real>-65.2</real>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <integer>20</integer>
      <key>public.kern2.U</key>
      <real>14.8</real>
      <key>public.kern2.W</key>
      <integer>20</integer>
      <key>public.kern2.o</key>
      <real>-25.2</real>
      <key>public.kern2.y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.W</key>
      <integer>40</integer>
      <key>public.kern2.Y</key>
      <real>10.4</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.quoteright</key>
      <real>50.4</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-14.8</real>
      <key>public.kern2.H</key>
      <real>10.4</real>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.u</key>
      <real>-50.4</real>
      <key>public.kern2.w</key>
      <real>-85.2</real>
      <key>public.kern2.y</key>
      <real>-90.4</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-40.4</real>
      <key>public.kern2.O</key>
      <integer>-110</integer>
      <key>public.kern2.T</key>
      <integer>-150</integer>
      <key>public.kern2.U</key>
      <real>-75.2</real>
      <key>public.kern2.W</key>
      <integer>-190</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-130</integer>
      <key>public.kern2.asterisk</key>
      <integer>-60</integer>
      <key>public.kern2.f</key>
      <real>-44.8</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <real>-94.8</real>
      <key>public.kern2.u</key>
      <real>-110.4</real>
      <key>public.kern2.w</key>
      <integer>-160</integer>
      <key>public.kern2.y</key>
      <real>-150.4</real>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-90.4</real>
      <key>public.kern2.O</key>
      <real>-60.4</real>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.U</key>
      <real>-50.4</real>
      <key>public.kern2.W</key>
      <real>-90.4</real>
      <key>public.kern2.Y</key>
      <real>-85.2</real>
      <key>public.kern2.asterisk</key>
      <real>-30.4</real>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-25.2</real>
      <key>public.kern2.o</key>
      <real>-90.4</real>
      <key>public.kern2.question</key>
      <real>-34.8</real>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <real>-114.8</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.1</key>
      <real>-24.8</real>
      <key>public.kern2.A</key>
      <real>-90.4</real>
      <key>public.kern2.H</key>
      <real>34.8</real>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.M</key>
      <real>-45.2</real>
      <key>public.kern2.O</key>
      <real>-10.4</real>
      <key>public.kern2.S</key>
      <real>10.4</real>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <real>-60.4</real>
      <key>public.kern2.Y</key>
      <real>-90.4</real>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.h</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-10.4</real>
      <key>public.kern2.n</key>
      <real>-5.2</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <real>-50.4</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-214.8</real>
      <key>public.kern2.H</key>
      <real>-5.2</real>
      <key>public.kern2.J</key>
      <real>-114.8</real>
      <key>public.kern2.M</key>
      <real>-95.2</real>
      <key>public.kern2.T</key>
      <real>-55.2</real>
      <key>public.kern2.W</key>
      <real>-30.4</real>
      <key>public.kern2.X</key>
      <real>-75.2</real>
      <key>public.kern2.Y</key>
      <real>-64.8</real>
      <key>public.kern2.Z</key>
      <real>-54.8</real>
      <key>public.kern2.h</key>
      <real>-10.4</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <real>-30.4</real>
      <key>public.kern2.j</key>
      <real>-55.2</real>
      <key>public.kern2.n</key>
      <real>-30.4</real>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
      <key>public.kern2.u</key>
      <real>-55.2</real>
      <key>public.kern2.y</key>
      <real>-44.8</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-34.8</real>
      <key>public.kern2.H</key>
      <real>-1.7763568394002505e-15</real>
      <key>public.kern2.J</key>
      <real>-45.2</real>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.S</key>
      <real>-10.4</real>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <real>-30.4</real>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <real>-30.4</real>
      <key>public.kern2.y</key>
      <real>-50.4</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <real>10.4</real>
      <key>public.kern2.J</key>
      <real>-34.8</real>
      <key>public.kern2.O</key>
      <real>-14.8</real>
      <key>public.kern2.T</key>
      <real>-50.4</real>
      <key>public.kern2.W</key>
      <real>-30.4</real>
      <key>public.kern2.Y</key>
      <real>-50.4</real>
      <key>public.kern2.i</key>
      <real>-14.8</real>
      <key>public.kern2.n</key>
      <real>-14.8</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <real>-14.8</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <real>-10.4</real>
      <key>public.kern2.u</key>
      <real>-14.8</real>
      <key>public.kern2.w</key>
      <real>-25.2</real>
      <key>public.kern2.y</key>
      <real>-70.4</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>idieresis</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-200</integer>
      <key>public.kern2.J</key>
      <real>-165.2</real>
      <key>public.kern2.M</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-80</integer>
      <key>public.kern2.S</key>
      <real>-30.4</real>
      <key>public.kern2.h</key>
      <real>-45.2</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <real>-124.8</real>
      <key>public.kern2.n</key>
      <real>-154.8</real>
      <key>public.kern2.o</key>
      <real>-170.4</real>
      <key>public.kern2.period</key>
      <integer>-120</integer>
      <key>public.kern2.s</key>
      <integer>-140</integer>
      <key>public.kern2.u</key>
      <real>-105.2</real>
      <key>public.kern2.w</key>
      <real>-185.2</real>
      <key>public.kern2.y</key>
      <integer>-180</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-65.2</real>
      <key>public.kern2.J</key>
      <real>-30.4</real>
      <key>public.kern2.M</key>
      <real>-14.8</real>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-185.2</real>
      <key>public.kern2.J</key>
      <integer>-180</integer>
      <key>public.kern2.M</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.S</key>
      <real>-30.4</real>
      <key>public.kern2.W</key>
      <real>-10.4</real>
      <key>public.kern2.X</key>
      <real>-10.4</real>
      <key>public.kern2.Y</key>
      <real>-10.4</real>
      <key>public.kern2.Z</key>
      <real>-10.4</real>
      <key>public.kern2.h</key>
      <real>-30.4</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <real>-74.8</real>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <real>-134.8</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-40</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <real>-90.4</real>
      <key>public.kern2.w</key>
      <real>-14.8</real>
      <key>public.kern2.x</key>
      <integer>-60</integer>
      <key>public.kern2.y</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-50.4</real>
      <key>public.kern2.H</key>
      <real>30.4</real>
      <key>public.kern2.O</key>
      <real>-60.4</real>
      <key>public.kern2.W</key>
      <real>-10.4</real>
      <key>public.kern2.hyphen</key>
      <real>-74.8</real>
      <key>public.kern2.o</key>
      <real>-64.8</real>
      <key>public.kern2.y</key>
      <real>-64.8</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>idieresis</key>
      <real>-54.8</real>
      <key>public.kern2.A</key>
      <integer>-220</integer>
      <key>public.kern2.H</key>
      <real>30.4</real>
      <key>public.kern2.J</key>
      <real>-210.4</real>
      <key>public.kern2.M</key>
      <real>-85.2</real>
      <key>public.kern2.O</key>
      <real>-90.4</real>
      <key>public.kern2.S</key>
      <real>-50.4</real>
      <key>public.kern2.W</key>
      <real>-10.4</real>
      <key>public.kern2.hyphen</key>
      <real>-70.4</real>
      <key>public.kern2.i</key>
      <integer>-100</integer>
      <key>public.kern2.n</key>
      <real>-110.4</real>
      <key>public.kern2.o</key>
      <integer>-180</integer>
      <key>public.kern2.p</key>
      <integer>-120</integer>
      <key>public.kern2.period</key>
      <integer>-140</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <real>-84.8</real>
      <key>public.kern2.w</key>
      <real>-130.4</real>
      <key>public.kern2.z</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <real>-35.2</real>
      <key>public.kern2.hyphen</key>
      <real>-70.4</real>
      <key>public.kern2.o</key>
      <real>-44.8</real>
      <key>public.kern2.y</key>
      <real>-74.8</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-14.8</real>
      <key>public.kern2.i</key>
      <real>-25.2</real>
      <key>public.kern2.o</key>
      <real>-25.2</real>
      <key>public.kern2.u</key>
      <real>-14.8</real>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <real>-50.4</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>20</integer>
      <key>public.kern2.j</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <real>-14.8</real>
      <key>public.kern2.p</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <real>-10.4</real>
      <key>public.kern2.w</key>
      <real>-50.4</real>
      <key>public.kern2.x</key>
      <real>-50.4</real>
      <key>public.kern2.y</key>
      <real>-50.4</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <integer>10</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.M</key>
      <real>-64.8</real>
      <key>public.kern2.O</key>
      <real>15.2</real>
      <key>public.kern2.W</key>
      <real>44.8</real>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.h</key>
      <real>15.2</real>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-10.4</real>
      <key>public.kern2.n</key>
      <real>30.4</real>
      <key>public.kern2.o</key>
      <real>-25.2</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <real>30.4</real>
      <key>public.kern2.u</key>
      <integer>20</integer>
      <key>public.kern2.w</key>
      <real>-15.2</real>
      <key>public.kern2.x</key>
      <real>-5.2</real>
      <key>public.kern2.y</key>
      <real>-10.4</real>
      <key>public.kern2.z</key>
      <real>5.2</real>
    </dict>
    <key>public.kern1.five</key>
    <dict>
      <key>public.kern2.five</key>
      <integer>-30</integer>
      <key>public.kern2.zero</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.four</key>
    <dict>
      <key>public.kern2.zero</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-14.8</real>
      <key>public.kern2.i</key>
      <real>-14.8</real>
      <key>public.kern2.j</key>
      <real>30.4</real>
      <key>public.kern2.o</key>
      <real>-25.2</real>
      <key>public.kern2.w</key>
      <real>-14.8</real>
      <key>public.kern2.x</key>
      <real>-10.4</real>
      <key>public.kern2.y</key>
      <real>-64.8</real>
      <key>public.kern2.z</key>
      <real>-10.4</real>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.W</key>
      <real>-54.8</real>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.j</key>
      <real>-30.4</real>
      <key>public.kern2.n</key>
      <real>-5.2</real>
      <key>public.kern2.p</key>
      <real>-10.4</real>
      <key>public.kern2.s</key>
      <real>-10.4</real>
      <key>public.kern2.y</key>
      <real>-34.8</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>g</key>
      <real>-60.4</real>
      <key>public.kern2.hyphen</key>
      <real>-40.4</real>
      <key>public.kern2.i</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-40.4</real>
      <key>public.kern2.t</key>
      <real>-15.2</real>
      <key>public.kern2.u</key>
      <real>-25.2</real>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <real>-45.2</real>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.j</key>
      <real>30.4</real>
      <key>public.kern2.w</key>
      <real>-14.8</real>
      <key>public.kern2.y</key>
      <real>-45.2</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-135.2</real>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-140</integer>
      <key>public.kern2.j</key>
      <integer>20</integer>
      <key>public.kern2.o</key>
      <real>-30.4</real>
      <key>public.kern2.w</key>
      <real>-30.4</real>
      <key>public.kern2.x</key>
      <real>-14.8</real>
      <key>public.kern2.y</key>
      <real>-34.8</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <real>-25.2</real>
      <key>public.kern2.M</key>
      <real>-90.4</real>
      <key>public.kern2.T</key>
      <real>-170.4</real>
      <key>public.kern2.W</key>
      <real>-134.8</real>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-180</integer>
      <key>public.kern2.h</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-30.4</real>
      <key>public.kern2.j</key>
      <real>-15.2</real>
      <key>public.kern2.n</key>
      <real>-14.8</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <real>-14.8</real>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <real>-24.8</real>
      <key>public.kern2.u</key>
      <real>-30.4</real>
      <key>public.kern2.w</key>
      <real>-50.4</real>
      <key>public.kern2.x</key>
      <real>-90.4</real>
      <key>public.kern2.y</key>
      <real>-70.4</real>
      <key>public.kern2.z</key>
      <real>-34.8</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <real>-10.4</real>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.j</key>
      <real>114.8</real>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <real>-14.8</real>
    </dict>
    <key>public.kern1.quotedblleft</key>
    <dict>
      <key>public.kern2.M</key>
      <integer>-100</integer>
      <key>public.kern2.S</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <real>-14.8</real>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <real>-25.2</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.H</key>
      <real>14.8</real>
      <key>public.kern2.J</key>
      <real>-50.4</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.s</key>
      <real>-30.4</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.H</key>
      <real>-25.2</real>
      <key>public.kern2.W</key>
      <real>-14.8</real>
      <key>public.kern2.f</key>
      <integer>40</integer>
      <key>public.kern2.h</key>
      <integer>30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <real>-15.2</real>
      <key>public.kern2.o</key>
      <real>-70.4</real>
      <key>public.kern2.p</key>
      <real>15.2</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>50</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <real>35.2</real>
      <key>public.kern2.x</key>
      <integer>20</integer>
      <key>public.kern2.y</key>
      <real>-14.8</real>
      <key>public.kern2.z</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-50.4</real>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <real>-14.8</real>
      <key>public.kern2.j</key>
      <real>14.8</real>
      <key>public.kern2.o</key>
      <real>-10.4</real>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <real>-14.8</real>
      <key>public.kern2.x</key>
      <real>-30.4</real>
      <key>public.kern2.y</key>
      <real>-30.4</real>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-160</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-10.4</real>
      <key>public.kern2.h</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-34.8</real>
      <key>public.kern2.j</key>
      <real>5.200000000000001</real>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.p</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <real>-10.4</real>
      <key>public.kern2.y</key>
      <real>-25.2</real>
    </dict>
    <key>public.kern1.two</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-60</integer>
      <key>public.kern2.zero</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.Y</key>
      <real>-35.2</real>
      <key>public.kern2.j</key>
      <real>4.800000000000001</real>
      <key>public.kern2.o</key>
      <real>-10.4</real>
      <key>public.kern2.p</key>
      <real>-30.4</real>
      <key>public.kern2.y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-154.8</real>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <real>-185.2</real>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-50.4</real>
      <key>public.kern2.h</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <real>10.4</real>
      <key>public.kern2.o</key>
      <real>-70.4</real>
      <key>public.kern2.p</key>
      <real>-10.4</real>
      <key>public.kern2.period</key>
      <real>-54.8</real>
      <key>public.kern2.s</key>
      <real>-25.2</real>
      <key>public.kern2.w</key>
      <real>-14.8</real>
      <key>public.kern2.x</key>
      <real>-14.8</real>
      <key>public.kern2.y</key>
      <real>-45.2</real>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>g</key>
      <integer>-60</integer>
      <key>public.kern2.W</key>
      <integer>-60</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <real>-30.4</real>
      <key>public.kern2.j</key>
      <real>10.4</real>
      <key>public.kern2.n</key>
      <real>-30.4</real>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.p</key>
      <real>-30.4</real>
      <key>public.kern2.s</key>
      <real>-30.4</real>
      <key>public.kern2.w</key>
      <real>-14.8</real>
      <key>public.kern2.y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>g</key>
      <real>-60.4</real>
      <key>public.kern2.h</key>
      <real>-30.4</real>
      <key>public.kern2.hyphen</key>
      <real>-44.8</real>
      <key>public.kern2.i</key>
      <real>-30.4</real>
      <key>public.kern2.n</key>
      <real>-14.8</real>
      <key>public.kern2.o</key>
      <real>-75.2</real>
      <key>public.kern2.p</key>
      <real>-34.8</real>
      <key>public.kern2.period</key>
      <real>-74.8</real>
      <key>public.kern2.s</key>
      <real>-30.4</real>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <real>-15.2</real>
      <key>public.kern2.y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.j</key>
      <real>-4.8</real>
      <key>public.kern2.o</key>
      <real>-14.8</real>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>public.kern2.zero</key>
      <real>-30.4</real>
    </dict>
  </dict>
</plist>
