<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>May 12, 21, 16:35</string>
      <string>glyphs.M_ay 12, 21, 16_35</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #1</string>
      <string>glyphs.M_ay 12, 21, 16_35 #1</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #2</string>
      <string>glyphs.M_ay 12, 21, 16_35 #2</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #3</string>
      <string>glyphs.M_ay 12, 21, 16_35 #3</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #4</string>
      <string>glyphs.M_ay 12, 21, 16_35 #4</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #5</string>
      <string>glyphs.M_ay 12, 21, 16_35 #5</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #6</string>
      <string>glyphs.M_ay 12, 21, 16_35 #6</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #7</string>
      <string>glyphs.M_ay 12, 21, 16_35 #7</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #8</string>
      <string>glyphs.M_ay 12, 21, 16_35 #8</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #9</string>
      <string>glyphs.M_ay 12, 21, 16_35 #9</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #10</string>
      <string>glyphs.M_ay 12, 21, 16_35 #10</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #11</string>
      <string>glyphs.M_ay 12, 21, 16_35 #11</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #12</string>
      <string>glyphs.M_ay 12, 21, 16_35 #12</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #13</string>
      <string>glyphs.M_ay 12, 21, 16_35 #13</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #14</string>
      <string>glyphs.M_ay 12, 21, 16_35 #14</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #15</string>
      <string>glyphs.M_ay 12, 21, 16_35 #15</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #16</string>
      <string>glyphs.M_ay 12, 21, 16_35 #16</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #17</string>
      <string>glyphs.M_ay 12, 21, 16_35 #17</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #18</string>
      <string>glyphs.M_ay 12, 21, 16_35 #18</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #19</string>
      <string>glyphs.M_ay 12, 21, 16_35 #19</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #20</string>
      <string>glyphs.M_ay 12, 21, 16_35 #20</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #21</string>
      <string>glyphs.M_ay 12, 21, 16_35 #21</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #22</string>
      <string>glyphs.M_ay 12, 21, 16_35 #22</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #23</string>
      <string>glyphs.M_ay 12, 21, 16_35 #23</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #24</string>
      <string>glyphs.M_ay 12, 21, 16_35 #24</string>
    </array>
    <array>
      <string>May 12, 21, 16:35 #25</string>
      <string>glyphs.M_ay 12, 21, 16_35 #25</string>
    </array>
  </array>
</plist>
