<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-33.8</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-83.8</real>
      <key>public.kern2.H</key>
      <integer>-35</integer>
      <key>public.kern2.J</key>
      <real>-52.6</real>
      <key>public.kern2.M</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <real>-112.6</real>
      <key>public.kern2.S</key>
      <real>-117.6</real>
      <key>public.kern2.T</key>
      <integer>-180</integer>
      <key>public.kern2.U</key>
      <real>-61.2</real>
      <key>public.kern2.W</key>
      <real>-188.8</real>
      <key>public.kern2.X</key>
      <real>-78.80000000000001</real>
      <key>public.kern2.Y</key>
      <real>-278.8</real>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.asterisk</key>
      <integer>-120</integer>
      <key>public.kern2.f</key>
      <real>-57.599999999999994</real>
      <key>public.kern2.h</key>
      <real>-47.6</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <real>-57.6</real>
      <key>public.kern2.j</key>
      <real>-7.599999999999998</real>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.p</key>
      <real>-78.80000000000001</real>
      <key>public.kern2.quotedblleft</key>
      <real>-131.2</real>
      <key>public.kern2.quoteright</key>
      <real>-131.2</real>
      <key>public.kern2.s</key>
      <real>-93.8</real>
      <key>public.kern2.t</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <real>-77.6</real>
      <key>public.kern2.w</key>
      <real>-166.2</real>
      <key>public.kern2.x</key>
      <integer>-75</integer>
      <key>public.kern2.y</key>
      <real>-191.2</real>
      <key>public.kern2.z</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-92.6</real>
      <key>public.kern2.H</key>
      <integer>40</integer>
      <key>public.kern2.J</key>
      <integer>-70</integer>
      <key>public.kern2.O</key>
      <real>-48.800000000000004</real>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <real>-8.8</real>
      <key>public.kern2.W</key>
      <real>-32.6</real>
      <key>public.kern2.Y</key>
      <real>-52.6</real>
      <key>public.kern2.period</key>
      <real>-43.8</real>
      <key>public.kern2.u</key>
      <real>-52.6</real>
      <key>public.kern2.y</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>idieresis</key>
      <real>87.6</real>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.H</key>
      <real>-21.200000000000003</real>
      <key>public.kern2.J</key>
      <integer>-45</integer>
      <key>public.kern2.M</key>
      <real>-17.6</real>
      <key>public.kern2.O</key>
      <real>-43.8</real>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <real>-66.2</real>
      <key>public.kern2.X</key>
      <real>3.799999999999999</real>
      <key>public.kern2.Y</key>
      <real>-52.6</real>
      <key>public.kern2.colon</key>
      <real>-43.8</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <real>-43.8</real>
      <key>public.kern2.n</key>
      <real>-43.8</real>
      <key>public.kern2.o</key>
      <real>-86.2</real>
      <key>public.kern2.period</key>
      <real>-43.8</real>
      <key>public.kern2.u</key>
      <real>-43.8</real>
      <key>public.kern2.y</key>
      <real>-113.8</real>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.H</key>
      <real>2.5999999999999996</real>
      <key>public.kern2.J</key>
      <real>-17.6</real>
      <key>public.kern2.O</key>
      <real>-3.799999999999999</real>
      <key>public.kern2.W</key>
      <real>3.799999999999999</real>
      <key>public.kern2.o</key>
      <real>-33.8</real>
      <key>public.kern2.quoteright</key>
      <real>26.200000000000003</real>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.w</key>
      <real>-31.2</real>
      <key>public.kern2.x</key>
      <real>-58.8</real>
      <key>public.kern2.y</key>
      <real>-57.6</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-143.8</real>
      <key>public.kern2.H</key>
      <real>2.5999999999999996</real>
      <key>public.kern2.J</key>
      <real>-163.8</real>
      <key>public.kern2.M</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <real>-7.599999999999998</real>
      <key>public.kern2.i</key>
      <real>-51.2</real>
      <key>public.kern2.n</key>
      <real>-53.8</real>
      <key>public.kern2.o</key>
      <real>-67.6</real>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.u</key>
      <real>-53.8</real>
      <key>public.kern2.y</key>
      <real>-53.8</real>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-35</integer>
      <key>public.kern2.H</key>
      <integer>20</integer>
      <key>public.kern2.U</key>
      <real>26.200000000000003</real>
      <key>public.kern2.W</key>
      <integer>5</integer>
      <key>public.kern2.o</key>
      <real>-43.8</real>
      <key>public.kern2.y</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.W</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <real>2.5999999999999996</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.quoteright</key>
      <real>87.6</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.H</key>
      <real>2.5999999999999996</real>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.S</key>
      <integer>-35</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-95</integer>
      <key>public.kern2.u</key>
      <real>-42.6</real>
      <key>public.kern2.w</key>
      <real>-103.8</real>
      <key>public.kern2.y</key>
      <real>-97.6</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-47.6</real>
      <key>public.kern2.O</key>
      <integer>-110</integer>
      <key>public.kern2.T</key>
      <integer>-150</integer>
      <key>public.kern2.U</key>
      <real>-48.8</real>
      <key>public.kern2.W</key>
      <integer>-190</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-130</integer>
      <key>public.kern2.asterisk</key>
      <integer>-15</integer>
      <key>public.kern2.f</key>
      <real>-41.2</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <real>-76.2</real>
      <key>public.kern2.u</key>
      <real>-72.6</real>
      <key>public.kern2.w</key>
      <integer>-130</integer>
      <key>public.kern2.y</key>
      <real>-112.6</real>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-112.6</real>
      <key>public.kern2.O</key>
      <real>-82.6</real>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.U</key>
      <real>-87.6</real>
      <key>public.kern2.W</key>
      <real>-127.6</real>
      <key>public.kern2.Y</key>
      <real>-118.80000000000001</real>
      <key>public.kern2.asterisk</key>
      <real>-7.599999999999998</real>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-43.8</real>
      <key>public.kern2.o</key>
      <real>-112.6</real>
      <key>public.kern2.question</key>
      <real>-61.2</real>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <real>-111.2</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.1</key>
      <real>-6.199999999999999</real>
      <key>public.kern2.A</key>
      <real>-112.6</real>
      <key>public.kern2.H</key>
      <real>22.6</real>
      <key>public.kern2.J</key>
      <integer>-130</integer>
      <key>public.kern2.M</key>
      <real>-78.80000000000001</real>
      <key>public.kern2.O</key>
      <real>-17.6</real>
      <key>public.kern2.S</key>
      <real>2.5999999999999996</real>
      <key>public.kern2.T</key>
      <integer>-85</integer>
      <key>public.kern2.W</key>
      <integer>-70</integer>
      <key>public.kern2.X</key>
      <real>-82.6</real>
      <key>public.kern2.Y</key>
      <real>-112.6</real>
      <key>public.kern2.Z</key>
      <integer>-35</integer>
      <key>public.kern2.h</key>
      <integer>-35</integer>
      <key>public.kern2.i</key>
      <real>-17.6</real>
      <key>public.kern2.n</key>
      <real>-8.8</real>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.w</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <real>-57.6</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-241.2</real>
      <key>public.kern2.H</key>
      <real>-23.8</real>
      <key>public.kern2.J</key>
      <real>-126.2</real>
      <key>public.kern2.M</key>
      <real>-128.8</real>
      <key>public.kern2.T</key>
      <real>-43.8</real>
      <key>public.kern2.W</key>
      <real>-52.6</real>
      <key>public.kern2.X</key>
      <real>-78.8</real>
      <key>public.kern2.Y</key>
      <real>-61.2</real>
      <key>public.kern2.Z</key>
      <real>-51.2</real>
      <key>public.kern2.h</key>
      <real>-17.6</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <real>-52.6</real>
      <key>public.kern2.j</key>
      <real>-13.799999999999997</real>
      <key>public.kern2.n</key>
      <real>-52.6</real>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
      <key>public.kern2.u</key>
      <real>-58.8</real>
      <key>public.kern2.y</key>
      <real>-41.2</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-61.2</real>
      <key>public.kern2.H</key>
      <real>-27.400000000000006</real>
      <key>public.kern2.J</key>
      <real>-78.80000000000001</real>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.S</key>
      <real>-17.6</real>
      <key>public.kern2.T</key>
      <integer>-35</integer>
      <key>public.kern2.W</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-140</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <real>-52.6</real>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <real>-52.6</real>
      <key>public.kern2.y</key>
      <real>-72.6</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <real>2.5999999999999996</real>
      <key>public.kern2.J</key>
      <real>-61.2</real>
      <key>public.kern2.O</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.T</key>
      <real>-42.6</real>
      <key>public.kern2.W</key>
      <real>-52.6</real>
      <key>public.kern2.Y</key>
      <real>-87.6</real>
      <key>public.kern2.i</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.n</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.p</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <real>-17.6</real>
      <key>public.kern2.u</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.w</key>
      <real>-43.8</real>
      <key>public.kern2.y</key>
      <real>-62.6</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>idieresis</key>
      <integer>-5</integer>
      <key>public.kern2.A</key>
      <integer>-200</integer>
      <key>public.kern2.J</key>
      <real>-138.8</real>
      <key>public.kern2.M</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-80</integer>
      <key>public.kern2.S</key>
      <real>-7.599999999999998</real>
      <key>public.kern2.h</key>
      <real>-33.8</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <real>-106.2</real>
      <key>public.kern2.n</key>
      <real>-121.19999999999999</real>
      <key>public.kern2.o</key>
      <real>-192.6</real>
      <key>public.kern2.period</key>
      <integer>-120</integer>
      <key>public.kern2.s</key>
      <integer>-110</integer>
      <key>public.kern2.u</key>
      <real>-78.8</real>
      <key>public.kern2.w</key>
      <real>-158.8</real>
      <key>public.kern2.y</key>
      <integer>-165</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-68.8</real>
      <key>public.kern2.J</key>
      <real>-52.6</real>
      <key>public.kern2.M</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.n</key>
      <integer>-35</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-188.8</real>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-180</integer>
      <key>public.kern2.M</key>
      <integer>-110</integer>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.S</key>
      <real>-52.6</real>
      <key>public.kern2.W</key>
      <real>-17.6</real>
      <key>public.kern2.X</key>
      <real>-17.6</real>
      <key>public.kern2.Y</key>
      <real>-17.6</real>
      <key>public.kern2.Z</key>
      <real>-17.6</real>
      <key>public.kern2.h</key>
      <real>-52.6</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <real>-86.2</real>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <real>-146.2</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-70</integer>
      <key>public.kern2.t</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <real>-97.6</real>
      <key>public.kern2.w</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.x</key>
      <integer>-105</integer>
      <key>public.kern2.y</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-87.6</real>
      <key>public.kern2.H</key>
      <real>7.599999999999998</real>
      <key>public.kern2.O</key>
      <real>-82.6</real>
      <key>public.kern2.W</key>
      <real>-17.6</real>
      <key>public.kern2.hyphen</key>
      <real>-86.2</real>
      <key>public.kern2.o</key>
      <real>-76.2</real>
      <key>public.kern2.y</key>
      <real>-76.2</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>idieresis</key>
      <real>-51.2</real>
      <key>public.kern2.A</key>
      <integer>-235</integer>
      <key>public.kern2.H</key>
      <real>7.599999999999998</real>
      <key>public.kern2.J</key>
      <real>-187.6</real>
      <key>public.kern2.M</key>
      <real>-118.80000000000001</real>
      <key>public.kern2.O</key>
      <real>-112.6</real>
      <key>public.kern2.S</key>
      <real>-87.6</real>
      <key>public.kern2.W</key>
      <real>-17.6</real>
      <key>public.kern2.hyphen</key>
      <real>-77.6</real>
      <key>public.kern2.i</key>
      <integer>-130</integer>
      <key>public.kern2.n</key>
      <real>-117.6</real>
      <key>public.kern2.o</key>
      <integer>-225</integer>
      <key>public.kern2.p</key>
      <integer>-150</integer>
      <key>public.kern2.period</key>
      <integer>-155</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <real>-96.2</real>
      <key>public.kern2.w</key>
      <real>-107.6</real>
      <key>public.kern2.z</key>
      <integer>-115</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <real>-38.8</real>
      <key>public.kern2.hyphen</key>
      <real>-77.6</real>
      <key>public.kern2.o</key>
      <real>-41.2</real>
      <key>public.kern2.y</key>
      <real>-71.2</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.i</key>
      <real>-43.8</real>
      <key>public.kern2.o</key>
      <real>-43.8</real>
      <key>public.kern2.u</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.w</key>
      <integer>-35</integer>
      <key>public.kern2.y</key>
      <real>-87.6</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>5</integer>
      <key>public.kern2.j</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.p</key>
      <integer>-35</integer>
      <key>public.kern2.s</key>
      <real>-17.6</real>
      <key>public.kern2.w</key>
      <real>-87.6</real>
      <key>public.kern2.x</key>
      <real>-87.6</real>
      <key>public.kern2.y</key>
      <real>-87.6</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <integer>10</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.M</key>
      <real>-61.2</real>
      <key>public.kern2.O</key>
      <real>18.8</real>
      <key>public.kern2.W</key>
      <real>41.2</real>
      <key>public.kern2.f</key>
      <integer>5</integer>
      <key>public.kern2.h</key>
      <real>3.799999999999999</real>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-17.6</real>
      <key>public.kern2.j</key>
      <integer>15</integer>
      <key>public.kern2.n</key>
      <real>22.6</real>
      <key>public.kern2.o</key>
      <real>-28.8</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <real>22.6</real>
      <key>public.kern2.u</key>
      <integer>5</integer>
      <key>public.kern2.w</key>
      <real>-18.8</real>
      <key>public.kern2.x</key>
      <real>-23.8</real>
      <key>public.kern2.y</key>
      <real>-32.6</real>
      <key>public.kern2.z</key>
      <real>8.8</real>
    </dict>
    <key>public.kern1.five</key>
    <dict>
      <key>public.kern2.five</key>
      <integer>-30</integer>
      <key>public.kern2.zero</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.four</key>
    <dict>
      <key>public.kern2.zero</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.i</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.j</key>
      <real>52.6</real>
      <key>public.kern2.o</key>
      <real>-43.8</real>
      <key>public.kern2.w</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.x</key>
      <real>-2.5999999999999996</real>
      <key>public.kern2.y</key>
      <real>-61.2</real>
      <key>public.kern2.z</key>
      <real>-17.6</real>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.W</key>
      <real>-51.2</real>
      <key>public.kern2.Y</key>
      <integer>-130</integer>
      <key>public.kern2.j</key>
      <real>7.400000000000006</real>
      <key>public.kern2.n</key>
      <real>-8.8</real>
      <key>public.kern2.p</key>
      <real>-17.6</real>
      <key>public.kern2.s</key>
      <real>-17.6</real>
      <key>public.kern2.y</key>
      <real>-61.2</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>g</key>
      <real>-67.6</real>
      <key>public.kern2.hyphen</key>
      <real>-47.6</real>
      <key>public.kern2.i</key>
      <integer>-35</integer>
      <key>public.kern2.j</key>
      <integer>25</integer>
      <key>public.kern2.o</key>
      <integer>-85</integer>
      <key>public.kern2.s</key>
      <real>-47.6</real>
      <key>public.kern2.t</key>
      <real>-3.799999999999999</real>
      <key>public.kern2.u</key>
      <real>-43.8</real>
      <key>public.kern2.w</key>
      <integer>-35</integer>
      <key>public.kern2.y</key>
      <real>-78.80000000000001</real>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.j</key>
      <real>52.6</real>
      <key>public.kern2.w</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.y</key>
      <real>-78.80000000000001</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-123.8</real>
      <key>public.kern2.W</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-155</integer>
      <key>public.kern2.j</key>
      <integer>35</integer>
      <key>public.kern2.o</key>
      <real>-37.6</real>
      <key>public.kern2.w</key>
      <real>-52.6</real>
      <key>public.kern2.x</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.y</key>
      <real>-61.2</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <real>-43.8</real>
      <key>public.kern2.M</key>
      <real>-112.6</real>
      <key>public.kern2.T</key>
      <real>-192.6</real>
      <key>public.kern2.W</key>
      <real>-146.2</real>
      <key>public.kern2.X</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-225</integer>
      <key>public.kern2.h</key>
      <integer>-35</integer>
      <key>public.kern2.i</key>
      <real>-52.6</real>
      <key>public.kern2.j</key>
      <real>-3.799999999999999</real>
      <key>public.kern2.n</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <real>-6.199999999999999</real>
      <key>public.kern2.u</key>
      <real>-52.6</real>
      <key>public.kern2.w</key>
      <real>-57.6</real>
      <key>public.kern2.x</key>
      <real>-112.6</real>
      <key>public.kern2.y</key>
      <real>-92.6</real>
      <key>public.kern2.z</key>
      <real>-31.2</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <real>-17.6</real>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-140</integer>
      <key>public.kern2.j</key>
      <real>126.2</real>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.w</key>
      <real>-26.200000000000003</real>
    </dict>
    <key>public.kern1.quotedblleft</key>
    <dict>
      <key>public.kern2.M</key>
      <integer>-115</integer>
      <key>public.kern2.S</key>
      <integer>-70</integer>
      <key>public.kern2.n</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-35</integer>
      <key>public.kern2.w</key>
      <real>-43.8</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.H</key>
      <real>26.200000000000003</real>
      <key>public.kern2.J</key>
      <real>-87.6</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.s</key>
      <real>-52.6</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.H</key>
      <real>-28.8</real>
      <key>public.kern2.W</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.f</key>
      <integer>40</integer>
      <key>public.kern2.h</key>
      <integer>30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <real>11.200000000000003</real>
      <key>public.kern2.o</key>
      <real>-62.6</real>
      <key>public.kern2.p</key>
      <real>3.799999999999999</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>50</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <real>38.8</real>
      <key>public.kern2.x</key>
      <integer>20</integer>
      <key>public.kern2.y</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.z</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-87.6</real>
      <key>public.kern2.W</key>
      <integer>-70</integer>
      <key>public.kern2.i</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.j</key>
      <real>26.200000000000003</real>
      <key>public.kern2.o</key>
      <real>-17.6</real>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.x</key>
      <real>-52.6</real>
      <key>public.kern2.y</key>
      <real>-52.6</real>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-145</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-17.6</real>
      <key>public.kern2.h</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-61.2</real>
      <key>public.kern2.j</key>
      <real>38.800000000000004</real>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.p</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <real>-17.6</real>
      <key>public.kern2.y</key>
      <real>-43.8</real>
    </dict>
    <key>public.kern1.two</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-60</integer>
      <key>public.kern2.zero</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.Y</key>
      <real>-8.799999999999997</real>
      <key>public.kern2.j</key>
      <real>31.200000000000003</real>
      <key>public.kern2.o</key>
      <real>-17.6</real>
      <key>public.kern2.p</key>
      <real>-52.6</real>
      <key>public.kern2.y</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-166.2</real>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <real>-158.8</real>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-87.6</real>
      <key>public.kern2.h</key>
      <integer>-35</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <integer>-35</integer>
      <key>public.kern2.j</key>
      <real>17.6</real>
      <key>public.kern2.o</key>
      <real>-92.6</real>
      <key>public.kern2.p</key>
      <real>-17.6</real>
      <key>public.kern2.period</key>
      <real>-66.2</real>
      <key>public.kern2.s</key>
      <real>-43.8</real>
      <key>public.kern2.w</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.x</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.y</key>
      <real>-78.80000000000001</real>
      <key>public.kern2.z</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>g</key>
      <integer>-75</integer>
      <key>public.kern2.W</key>
      <integer>-105</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <real>-52.6</real>
      <key>public.kern2.j</key>
      <real>17.6</real>
      <key>public.kern2.n</key>
      <real>-52.6</real>
      <key>public.kern2.o</key>
      <integer>-110</integer>
      <key>public.kern2.p</key>
      <real>-52.6</real>
      <key>public.kern2.s</key>
      <real>-52.6</real>
      <key>public.kern2.w</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.y</key>
      <integer>-65</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>g</key>
      <real>-82.6</real>
      <key>public.kern2.h</key>
      <real>-52.6</real>
      <key>public.kern2.hyphen</key>
      <real>-56.2</real>
      <key>public.kern2.i</key>
      <real>-52.6</real>
      <key>public.kern2.n</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.o</key>
      <real>-108.80000000000001</real>
      <key>public.kern2.p</key>
      <real>-61.2</real>
      <key>public.kern2.period</key>
      <real>-86.2</real>
      <key>public.kern2.s</key>
      <real>-52.6</real>
      <key>public.kern2.t</key>
      <integer>-35</integer>
      <key>public.kern2.x</key>
      <real>-3.799999999999999</real>
      <key>public.kern2.y</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-105</integer>
      <key>public.kern2.j</key>
      <real>13.8</real>
      <key>public.kern2.o</key>
      <real>-26.200000000000003</real>
      <key>public.kern2.w</key>
      <integer>-35</integer>
      <key>public.kern2.y</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>public.kern2.zero</key>
      <real>-52.6</real>
    </dict>
  </dict>
</plist>
