# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
orbs:
  # Declare a dependency on the welcome-orb
  welcome: circleci/welcome-orb@0.4.1

jobs:
  build:
    docker:
      - image: circleci/python:3.7
  
    working_directory: ~/repo

    steps:
          - checkout
          - run:
              name: install fontbakery
              command: pip install fontbakery
          - run:
              name: run fontbakery tests

              command: |
              cd ttfs
              fontbakery check-googlefonts *.ttf 
            

# Orchestrate or schedule a set of jobs
workflows:
  # Name the workflow "welcome"
  launch:
    # Run the welcome/run job in its own container
    jobs:
      - welcome/run