<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1900</integer>
	<key>capHeight</key>
	<integer>1400</integer>
	<key>copyright</key>
	<string>Copyright 2021 The Urbanist Project Authors (github.com/coreyhu)</string>
	<key>descender</key>
	<integer>-500</integer>
	<key>familyName</key>
	<string>Urbanist</string>
	<key>italicAngle</key>
	<real>-8.0</real>
	<key>openTypeHeadCreated</key>
	<string>2020/03/28 06:10:06</string>
	<key>openTypeNameDesigner</key>
	<string>Corey Hu</string>
	<key>openTypeNameDesignerURL</key>
	<string>coreyhu.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Corey Hu</string>
	<key>openTypeNameManufacturerURL</key>
	<string>coreyhu.com</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.240</string>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>11</integer>
		<integer>10</integer>
		<integer>4</integer>
		<integer>4</integer>
		<integer>2</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>3</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2VendorID</key>
	<string>KERN</string>
	<key>postscriptBlueValues</key>
	<array>
		<real>-27.0</real>
		<real>0.0</real>
		<real>1000.0</real>
		<real>1029.0</real>
		<real>1400.0</real>
		<real>1427.0</real>
		<real>1900.0</real>
		<real>1916.0</real>
	</array>
	<key>postscriptFontName</key>
	<string>Urbanist-Regular</string>
	<key>postscriptOtherBlues</key>
	<array>
		<real>-531.0</real>
		<real>-500.0</real>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<real>300.0</real>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<real>300.0</real>
	</array>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>2000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>240</integer>
	<key>xHeight</key>
	<integer>1000</integer>
</dict>
</plist>
