<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1..null</key>
	<array>
		<string>uni0000</string>
	</array>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
		<string>germandbls</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.Germandbls</key>
	<array>
		<string>uni1E9E</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Idieresis</string>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
	</array>
	<key>public.kern1.M</key>
	<array>
		<string>M</string>
		<string>trademark</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>G</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>public.kern1.acutecomb</key>
	<array>
		<string>acutecomb</string>
		<string>acute</string>
		<string>hungarumlaut</string>
	</array>
	<key>public.kern1.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern1.anoteleia</key>
	<array>
		<string>periodcentered</string>
	</array>
	<key>public.kern1.asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>public.kern1.asciitilde</key>
	<array>
		<string>approxequal</string>
		<string>asciitilde</string>
	</array>
	<key>public.kern1.asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>public.kern1.at</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern1.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern1.bar</key>
	<array>
		<string>bar</string>
	</array>
	<key>public.kern1.braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>public.kern1.braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>public.kern1.bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>public.kern1.bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>public.kern1.breve</key>
	<array>
		<string>breve</string>
	</array>
	<key>public.kern1.brokenbar</key>
	<array>
		<string>brokenbar</string>
	</array>
	<key>public.kern1.bullet</key>
	<array>
		<string>bullet</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccedilla</string>
		<string>cent</string>
	</array>
	<key>public.kern1.caron</key>
	<array>
		<string>caron</string>
	</array>
	<key>public.kern1.cedillacomb</key>
	<array>
		<string>uni0327</string>
		<string>cedilla</string>
	</array>
	<key>public.kern1.circumflexcomb</key>
	<array>
		<string>uni0302</string>
		<string>circumflex</string>
	</array>
	<key>public.kern1.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1.copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>public.kern1.currency</key>
	<array>
		<string>currency</string>
	</array>
	<key>public.kern1.dagger</key>
	<array>
		<string>dagger</string>
	</array>
	<key>public.kern1.daggerdbl</key>
	<array>
		<string>daggerdbl</string>
	</array>
	<key>public.kern1.degree</key>
	<array>
		<string>degree</string>
	</array>
	<key>public.kern1.dieresiscomb</key>
	<array>
		<string>uni0308</string>
		<string>dieresis</string>
	</array>
	<key>public.kern1.divide</key>
	<array>
		<string>divide</string>
	</array>
	<key>public.kern1.dollar</key>
	<array>
		<string>dollar</string>
	</array>
	<key>public.kern1.dotaccentcomb</key>
	<array>
		<string>uni0307</string>
		<string>dotaccent</string>
	</array>
	<key>public.kern1.downArrow</key>
	<array>
		<string>arrowdown</string>
	</array>
	<key>public.kern1.e</key>
	<array>
		<string>ae</string>
		<string>oe</string>
	</array>
	<key>public.kern1.eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>public.kern1.eight.dnom</key>
	<array>
		<string>uni2088</string>
	</array>
	<key>public.kern1.eight.numr</key>
	<array>
		<string>uni2078</string>
	</array>
	<key>public.kern1.emptyset</key>
	<array>
		<string>emptyset</string>
	</array>
	<key>public.kern1.enspace</key>
	<array>
		<string>uni2002</string>
	</array>
	<key>public.kern1.equal</key>
	<array>
		<string>equal</string>
	</array>
	<key>public.kern1.eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>public.kern1.euro</key>
	<array>
		<string>Euro</string>
	</array>
	<key>public.kern1.exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>public.kern1.exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern1.five</key>
	<array>
		<string>five</string>
	</array>
	<key>public.kern1.five.dnom</key>
	<array>
		<string>uni2085</string>
	</array>
	<key>public.kern1.five.numr</key>
	<array>
		<string>uni2075</string>
		<string>fiveeighths</string>
	</array>
	<key>public.kern1.four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern1.four.dnom</key>
	<array>
		<string>uni2084</string>
	</array>
	<key>public.kern1.four.numr</key>
	<array>
		<string>uni2074</string>
	</array>
	<key>public.kern1.fraction</key>
	<array>
		<string>fraction</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
		<string>j</string>
	</array>
	<key>public.kern1.grave</key>
	<array>
		<string>grave</string>
	</array>
	<key>public.kern1.gravecomb</key>
	<array>
		<string>gravecomb</string>
	</array>
	<key>public.kern1.greater</key>
	<array>
		<string>greater</string>
	</array>
	<key>public.kern1.greaterequal</key>
	<array>
		<string>greaterequal</string>
	</array>
	<key>public.kern1.guillemotleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern1.guillemotright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>public.kern1.guilsinglleft</key>
	<array>
		<string>guillemotleft</string>
	</array>
	<key>public.kern1.guilsinglright</key>
	<array>
		<string>guillemotright</string>
	</array>
	<key>public.kern1.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern1.i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>public.kern1.infinity</key>
	<array>
		<string>infinity</string>
	</array>
	<key>public.kern1.integral</key>
	<array>
		<string>integral</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
	</array>
	<key>public.kern1.l</key>
	<array>
		<string>d</string>
		<string>l</string>
	</array>
	<key>public.kern1.leftArrow</key>
	<array>
		<string>arrowleft</string>
	</array>
	<key>public.kern1.leftRightArrow</key>
	<array>
		<string>arrowboth</string>
	</array>
	<key>public.kern1.less</key>
	<array>
		<string>less</string>
	</array>
	<key>public.kern1.lessequal</key>
	<array>
		<string>lessequal</string>
	</array>
	<key>public.kern1.logicalnot</key>
	<array>
		<string>logicalnot</string>
	</array>
	<key>public.kern1.lozenge</key>
	<array>
		<string>lozenge</string>
	</array>
	<key>public.kern1.macron</key>
	<array>
		<string>macron</string>
	</array>
	<key>public.kern1.minus</key>
	<array>
		<string>minus</string>
	</array>
	<key>public.kern1.multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>public.kern1.n</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>ordfeminine</string>
	</array>
	<key>public.kern1.nbspace</key>
	<array>
		<string>uni00A0</string>
	</array>
	<key>public.kern1.nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>public.kern1.nine.dnom</key>
	<array>
		<string>uni2089</string>
	</array>
	<key>public.kern1.nine.numr</key>
	<array>
		<string>uni2079</string>
	</array>
	<key>public.kern1.nonmarkingreturn</key>
	<array>
		<string>nonmarkingreturn</string>
	</array>
	<key>public.kern1.northEastArrow</key>
	<array>
		<string>uni2197</string>
	</array>
	<key>public.kern1.northWestArrow</key>
	<array>
		<string>uni2196</string>
	</array>
	<key>public.kern1.notequal</key>
	<array>
		<string>notequal</string>
	</array>
	<key>public.kern1.numbersign</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>public.kern1.o</key>
	<array>
		<string>Thorn</string>
		<string>b</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
		<string>ordmasculine</string>
	</array>
	<key>public.kern1.ogonek</key>
	<array>
		<string>ogonek</string>
	</array>
	<key>public.kern1.one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern1.one.dnom</key>
	<array>
		<string>uni2081</string>
	</array>
	<key>public.kern1.one.numr</key>
	<array>
		<string>uni00B9</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>oneeighth</string>
	</array>
	<key>public.kern1.paragraph</key>
	<array>
		<string>paragraph</string>
	</array>
	<key>public.kern1.parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>public.kern1.parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>public.kern1.partialdiff</key>
	<array>
		<string>partialdiff</string>
	</array>
	<key>public.kern1.percent</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1.plus</key>
	<array>
		<string>plus</string>
	</array>
	<key>public.kern1.plusminus</key>
	<array>
		<string>plusminus</string>
	</array>
	<key>public.kern1.primeReversed</key>
	<array>
		<string>uni2035</string>
	</array>
	<key>public.kern1.product</key>
	<array>
		<string>product</string>
	</array>
	<key>public.kern1.q</key>
	<array>
		<string>q</string>
	</array>
	<key>public.kern1.question</key>
	<array>
		<string>question</string>
	</array>
	<key>public.kern1.questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>public.kern1.quotedblleft</key>
	<array>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>uni02BC</string>
	</array>
	<key>public.kern1.quoteleft</key>
	<array>
		<string>quotedblleft</string>
	</array>
	<key>public.kern1.quoteright</key>
	<array>
		<string>quotedblright</string>
	</array>
	<key>public.kern1.quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
	</array>
	<key>public.kern1.radical</key>
	<array>
		<string>radical</string>
	</array>
	<key>public.kern1.registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>public.kern1.replacementCharacter</key>
	<array>
		<string>uniFFFD</string>
	</array>
	<key>public.kern1.rightArrow</key>
	<array>
		<string>arrowright</string>
	</array>
	<key>public.kern1.ringcomb</key>
	<array>
		<string>uni030A</string>
		<string>ring</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
	</array>
	<key>public.kern1.section</key>
	<array>
		<string>section</string>
	</array>
	<key>public.kern1.seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern1.seven.dnom</key>
	<array>
		<string>uni2087</string>
	</array>
	<key>public.kern1.seven.numr</key>
	<array>
		<string>uni2077</string>
		<string>seveneighths</string>
	</array>
	<key>public.kern1.six</key>
	<array>
		<string>six</string>
	</array>
	<key>public.kern1.six.dnom</key>
	<array>
		<string>uni2086</string>
	</array>
	<key>public.kern1.six.numr</key>
	<array>
		<string>uni2076</string>
	</array>
	<key>public.kern1.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern1.southEastArrow</key>
	<array>
		<string>uni2198</string>
	</array>
	<key>public.kern1.southWestArrow</key>
	<array>
		<string>uni2199</string>
	</array>
	<key>public.kern1.space</key>
	<array>
		<string>space</string>
	</array>
	<key>public.kern1.sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>public.kern1.summation</key>
	<array>
		<string>summation</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
	</array>
	<key>public.kern1.thinspace</key>
	<array>
		<string>uni2009</string>
	</array>
	<key>public.kern1.three</key>
	<array>
		<string>three</string>
	</array>
	<key>public.kern1.three.dnom</key>
	<array>
		<string>uni2083</string>
	</array>
	<key>public.kern1.three.numr</key>
	<array>
		<string>uni00B3</string>
		<string>threequarters</string>
		<string>threeeighths</string>
	</array>
	<key>public.kern1.tildecomb</key>
	<array>
		<string>tildecomb</string>
		<string>tilde</string>
	</array>
	<key>public.kern1.two</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern1.two.dnom</key>
	<array>
		<string>uni2082</string>
	</array>
	<key>public.kern1.two.numr</key>
	<array>
		<string>uni00B2</string>
	</array>
	<key>public.kern1.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uni03BC</string>
		<string>uni00B5</string>
	</array>
	<key>public.kern1.underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>public.kern1.upArrow</key>
	<array>
		<string>arrowup</string>
	</array>
	<key>public.kern1.upDownArrow</key>
	<array>
		<string>arrowupdn</string>
	</array>
	<key>public.kern1.w</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern1.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern1.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>public.kern1.yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>public.kern1.z</key>
	<array>
		<string>z</string>
	</array>
	<key>public.kern1.zero</key>
	<array>
		<string>zero</string>
	</array>
	<key>public.kern1.zero.dnom</key>
	<array>
		<string>uni2080</string>
	</array>
	<key>public.kern1.zero.numr</key>
	<array>
		<string>uni2070</string>
	</array>
	<key>public.kern1.zerowidthspace</key>
	<array>
		<string>uni200B</string>
	</array>
	<key>public.kern2..null</key>
	<array>
		<string>uni0000</string>
	</array>
	<key>public.kern2.1</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
	</array>
	<key>public.kern2.Germandbls</key>
	<array>
		<string>uni1E9E</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Idieresis</string>
		<string>K</string>
		<string>L</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern2.M</key>
	<array>
		<string>M</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>trademark</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>public.kern2.acutecomb</key>
	<array>
		<string>acutecomb</string>
		<string>acute</string>
		<string>hungarumlaut</string>
	</array>
	<key>public.kern2.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern2.anoteleia</key>
	<array>
		<string>periodcentered</string>
	</array>
	<key>public.kern2.asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>public.kern2.asciitilde</key>
	<array>
		<string>approxequal</string>
		<string>asciitilde</string>
	</array>
	<key>public.kern2.asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>public.kern2.at</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern2.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern2.bar</key>
	<array>
		<string>bar</string>
	</array>
	<key>public.kern2.braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>public.kern2.braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>public.kern2.bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>public.kern2.bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>public.kern2.breve</key>
	<array>
		<string>breve</string>
	</array>
	<key>public.kern2.brokenbar</key>
	<array>
		<string>brokenbar</string>
	</array>
	<key>public.kern2.bullet</key>
	<array>
		<string>bullet</string>
	</array>
	<key>public.kern2.caron</key>
	<array>
		<string>caron</string>
	</array>
	<key>public.kern2.cedillacomb</key>
	<array>
		<string>uni0327</string>
		<string>cedilla</string>
	</array>
	<key>public.kern2.circumflexcomb</key>
	<array>
		<string>uni0302</string>
		<string>circumflex</string>
	</array>
	<key>public.kern2.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.comma</key>
	<array>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern2.copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>public.kern2.currency</key>
	<array>
		<string>currency</string>
	</array>
	<key>public.kern2.dagger</key>
	<array>
		<string>dagger</string>
	</array>
	<key>public.kern2.daggerdbl</key>
	<array>
		<string>daggerdbl</string>
	</array>
	<key>public.kern2.degree</key>
	<array>
		<string>degree</string>
	</array>
	<key>public.kern2.dieresiscomb</key>
	<array>
		<string>uni0308</string>
		<string>dieresis</string>
	</array>
	<key>public.kern2.divide</key>
	<array>
		<string>divide</string>
	</array>
	<key>public.kern2.dollar</key>
	<array>
		<string>dollar</string>
	</array>
	<key>public.kern2.dotaccentcomb</key>
	<array>
		<string>uni0307</string>
		<string>dotaccent</string>
	</array>
	<key>public.kern2.downArrow</key>
	<array>
		<string>arrowdown</string>
	</array>
	<key>public.kern2.eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>public.kern2.eight.dnom</key>
	<array>
		<string>uni2088</string>
	</array>
	<key>public.kern2.eight.numr</key>
	<array>
		<string>uni2078</string>
	</array>
	<key>public.kern2.emptyset</key>
	<array>
		<string>emptyset</string>
	</array>
	<key>public.kern2.enspace</key>
	<array>
		<string>uni2002</string>
	</array>
	<key>public.kern2.equal</key>
	<array>
		<string>equal</string>
	</array>
	<key>public.kern2.euro</key>
	<array>
		<string>Euro</string>
	</array>
	<key>public.kern2.exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>public.kern2.exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
	</array>
	<key>public.kern2.five</key>
	<array>
		<string>five</string>
	</array>
	<key>public.kern2.five.dnom</key>
	<array>
		<string>uni2085</string>
	</array>
	<key>public.kern2.five.numr</key>
	<array>
		<string>uni2075</string>
		<string>fiveeighths</string>
	</array>
	<key>public.kern2.four</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern2.four.dnom</key>
	<array>
		<string>uni2084</string>
	</array>
	<key>public.kern2.four.numr</key>
	<array>
		<string>uni2074</string>
	</array>
	<key>public.kern2.frac_digits</key>
	<array>
		<string>fraction</string>
	</array>
	<key>public.kern2.grave</key>
	<array>
		<string>grave</string>
	</array>
	<key>public.kern2.gravecomb</key>
	<array>
		<string>gravecomb</string>
	</array>
	<key>public.kern2.greater</key>
	<array>
		<string>greater</string>
	</array>
	<key>public.kern2.greaterequal</key>
	<array>
		<string>greaterequal</string>
	</array>
	<key>public.kern2.guillemotleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern2.guillemotright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>public.kern2.guilsinglleft</key>
	<array>
		<string>guillemotleft</string>
	</array>
	<key>public.kern2.guilsinglright</key>
	<array>
		<string>guillemotright</string>
	</array>
	<key>public.kern2.h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>thorn</string>
		<string>germandbls</string>
	</array>
	<key>public.kern2.hyphen</key>
	<array>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>public.kern2.infinity</key>
	<array>
		<string>infinity</string>
	</array>
	<key>public.kern2.integral</key>
	<array>
		<string>integral</string>
	</array>
	<key>public.kern2.j</key>
	<array>
		<string>j</string>
	</array>
	<key>public.kern2.leftArrow</key>
	<array>
		<string>arrowleft</string>
	</array>
	<key>public.kern2.leftRightArrow</key>
	<array>
		<string>arrowboth</string>
	</array>
	<key>public.kern2.less</key>
	<array>
		<string>less</string>
	</array>
	<key>public.kern2.lessequal</key>
	<array>
		<string>lessequal</string>
	</array>
	<key>public.kern2.logicalnot</key>
	<array>
		<string>logicalnot</string>
	</array>
	<key>public.kern2.lozenge</key>
	<array>
		<string>lozenge</string>
	</array>
	<key>public.kern2.macron</key>
	<array>
		<string>macron</string>
	</array>
	<key>public.kern2.minus</key>
	<array>
		<string>minus</string>
	</array>
	<key>public.kern2.multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>public.kern2.n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>r</string>
	</array>
	<key>public.kern2.nbspace</key>
	<array>
		<string>uni00A0</string>
	</array>
	<key>public.kern2.nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>public.kern2.nine.dnom</key>
	<array>
		<string>uni2089</string>
	</array>
	<key>public.kern2.nine.numr</key>
	<array>
		<string>uni2079</string>
	</array>
	<key>public.kern2.nonmarkingreturn</key>
	<array>
		<string>nonmarkingreturn</string>
	</array>
	<key>public.kern2.northEastArrow</key>
	<array>
		<string>uni2197</string>
	</array>
	<key>public.kern2.northWestArrow</key>
	<array>
		<string>uni2196</string>
	</array>
	<key>public.kern2.notequal</key>
	<array>
		<string>notequal</string>
	</array>
	<key>public.kern2.numbersign</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>public.kern2.o</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>g</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>cent</string>
	</array>
	<key>public.kern2.ogonek</key>
	<array>
		<string>ogonek</string>
	</array>
	<key>public.kern2.one</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern2.one.dnom</key>
	<array>
		<string>uni2081</string>
	</array>
	<key>public.kern2.one.numr</key>
	<array>
		<string>uni00B9</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>oneeighth</string>
	</array>
	<key>public.kern2.p</key>
	<array>
		<string>p</string>
		<string>uni03BC</string>
		<string>uni00B5</string>
	</array>
	<key>public.kern2.paragraph</key>
	<array>
		<string>paragraph</string>
	</array>
	<key>public.kern2.parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>public.kern2.parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>public.kern2.partialdiff</key>
	<array>
		<string>partialdiff</string>
	</array>
	<key>public.kern2.percent</key>
	<array>
		<string>percent</string>
		<string>perthousand</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern2.plus</key>
	<array>
		<string>plus</string>
	</array>
	<key>public.kern2.plusminus</key>
	<array>
		<string>plusminus</string>
	</array>
	<key>public.kern2.primeReversed</key>
	<array>
		<string>uni2035</string>
	</array>
	<key>public.kern2.product</key>
	<array>
		<string>product</string>
	</array>
	<key>public.kern2.question</key>
	<array>
		<string>question</string>
	</array>
	<key>public.kern2.questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>public.kern2.quotedblleft</key>
	<array>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>public.kern2.quoteleft</key>
	<array>
		<string>quotedblleft</string>
	</array>
	<key>public.kern2.quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>uni02BC</string>
	</array>
	<key>public.kern2.quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.radical</key>
	<array>
		<string>radical</string>
	</array>
	<key>public.kern2.registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>public.kern2.replacementCharacter</key>
	<array>
		<string>uniFFFD</string>
	</array>
	<key>public.kern2.rightArrow</key>
	<array>
		<string>arrowright</string>
	</array>
	<key>public.kern2.ringcomb</key>
	<array>
		<string>uni030A</string>
		<string>ring</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
	</array>
	<key>public.kern2.section</key>
	<array>
		<string>section</string>
	</array>
	<key>public.kern2.seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern2.seven.dnom</key>
	<array>
		<string>uni2087</string>
	</array>
	<key>public.kern2.seven.numr</key>
	<array>
		<string>uni2077</string>
		<string>seveneighths</string>
	</array>
	<key>public.kern2.six</key>
	<array>
		<string>six</string>
	</array>
	<key>public.kern2.six.dnom</key>
	<array>
		<string>uni2086</string>
	</array>
	<key>public.kern2.six.numr</key>
	<array>
		<string>uni2076</string>
	</array>
	<key>public.kern2.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern2.southEastArrow</key>
	<array>
		<string>uni2198</string>
	</array>
	<key>public.kern2.southWestArrow</key>
	<array>
		<string>uni2199</string>
	</array>
	<key>public.kern2.space</key>
	<array>
		<string>space</string>
	</array>
	<key>public.kern2.sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>public.kern2.summation</key>
	<array>
		<string>summation</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
	</array>
	<key>public.kern2.thinspace</key>
	<array>
		<string>uni2009</string>
	</array>
	<key>public.kern2.three</key>
	<array>
		<string>three</string>
	</array>
	<key>public.kern2.three.dnom</key>
	<array>
		<string>uni2083</string>
	</array>
	<key>public.kern2.three.numr</key>
	<array>
		<string>uni00B3</string>
		<string>threequarters</string>
		<string>threeeighths</string>
	</array>
	<key>public.kern2.tildecomb</key>
	<array>
		<string>tildecomb</string>
		<string>tilde</string>
	</array>
	<key>public.kern2.two</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern2.two.dnom</key>
	<array>
		<string>uni2082</string>
	</array>
	<key>public.kern2.two.numr</key>
	<array>
		<string>uni00B2</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>public.kern2.underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>public.kern2.upArrow</key>
	<array>
		<string>arrowup</string>
	</array>
	<key>public.kern2.upDownArrow</key>
	<array>
		<string>arrowupdn</string>
	</array>
	<key>public.kern2.w</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern2.y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>public.kern2.yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>public.kern2.z</key>
	<array>
		<string>z</string>
	</array>
	<key>public.kern2.zero</key>
	<array>
		<string>zero</string>
	</array>
	<key>public.kern2.zero.dnom</key>
	<array>
		<string>uni2080</string>
	</array>
	<key>public.kern2.zero.numr</key>
	<array>
		<string>uni2070</string>
	</array>
	<key>public.kern2.zerowidthspace</key>
	<array>
		<string>uni200B</string>
	</array>
</dict>
</plist>
