<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-52.666666666666664</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-102.66666666666667</real>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.M</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <real>-75.33333333333333</real>
      <key>public.kern2.S</key>
      <real>-105.33333333333333</real>
      <key>public.kern2.T</key>
      <integer>-180</integer>
      <key>public.kern2.U</key>
      <real>-17.333333333333336</real>
      <key>public.kern2.W</key>
      <real>-182.66666666666666</real>
      <key>public.kern2.X</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.Y</key>
      <real>-222.66666666666666</real>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.asterisk</key>
      <integer>-120</integer>
      <key>public.kern2.f</key>
      <real>-95.33333333333333</real>
      <key>public.kern2.h</key>
      <real>-35.333333333333336</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <real>-45.333333333333336</real>
      <key>public.kern2.j</key>
      <real>-45.333333333333336</real>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.p</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.quotedblleft</key>
      <real>-37.333333333333336</real>
      <key>public.kern2.quoteright</key>
      <real>-37.333333333333336</real>
      <key>public.kern2.s</key>
      <real>-62.666666666666664</real>
      <key>public.kern2.t</key>
      <integer>-120</integer>
      <key>public.kern2.u</key>
      <real>-65.33333333333333</real>
      <key>public.kern2.w</key>
      <real>-147.33333333333334</real>
      <key>public.kern2.x</key>
      <integer>-50</integer>
      <key>public.kern2.y</key>
      <real>-147.33333333333334</real>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-55.333333333333336</real>
      <key>public.kern2.H</key>
      <integer>40</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <real>7.333333333333332</real>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.W</key>
      <real>4.666666666666666</real>
      <key>public.kern2.Y</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.period</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.u</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>idieresis</key>
      <real>25.333333333333336</real>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <real>22.666666666666664</real>
      <key>public.kern2.J</key>
      <integer>-70</integer>
      <key>public.kern2.M</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.O</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <real>2.666666666666666</real>
      <key>public.kern2.X</key>
      <real>22.666666666666668</real>
      <key>public.kern2.Y</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.colon</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.n</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.o</key>
      <real>-67.33333333333333</real>
      <key>public.kern2.period</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.u</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.y</key>
      <real>-82.66666666666667</real>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <real>15.333333333333332</real>
      <key>public.kern2.J</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.O</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.W</key>
      <real>22.666666666666668</real>
      <key>public.kern2.o</key>
      <real>-52.666666666666664</real>
      <key>public.kern2.quoteright</key>
      <real>7.333333333333334</real>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <real>-37.333333333333336</real>
      <key>public.kern2.x</key>
      <real>-52.666666666666664</real>
      <key>public.kern2.y</key>
      <real>-45.333333333333336</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-162.66666666666666</real>
      <key>public.kern2.H</key>
      <real>15.333333333333332</real>
      <key>public.kern2.J</key>
      <real>-132.66666666666666</real>
      <key>public.kern2.M</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <real>-45.333333333333336</real>
      <key>public.kern2.i</key>
      <real>-57.333333333333336</real>
      <key>public.kern2.n</key>
      <real>-72.66666666666667</real>
      <key>public.kern2.o</key>
      <real>-105.33333333333333</real>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.u</key>
      <real>-72.66666666666667</real>
      <key>public.kern2.y</key>
      <real>-72.66666666666667</real>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>20</integer>
      <key>public.kern2.U</key>
      <real>7.333333333333334</real>
      <key>public.kern2.W</key>
      <integer>30</integer>
      <key>public.kern2.o</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.W</key>
      <integer>60</integer>
      <key>public.kern2.Y</key>
      <real>15.333333333333332</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.quoteright</key>
      <real>25.333333333333336</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.H</key>
      <real>15.333333333333332</real>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <real>-55.333333333333336</real>
      <key>public.kern2.w</key>
      <real>-72.66666666666667</real>
      <key>public.kern2.y</key>
      <real>-85.33333333333333</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-35.333333333333336</real>
      <key>public.kern2.O</key>
      <integer>-110</integer>
      <key>public.kern2.T</key>
      <integer>-150</integer>
      <key>public.kern2.U</key>
      <real>-92.66666666666667</real>
      <key>public.kern2.W</key>
      <integer>-190</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-130</integer>
      <key>public.kern2.asterisk</key>
      <integer>-90</integer>
      <key>public.kern2.f</key>
      <real>-47.333333333333336</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <real>-107.33333333333333</real>
      <key>public.kern2.u</key>
      <real>-135.33333333333334</real>
      <key>public.kern2.w</key>
      <integer>-180</integer>
      <key>public.kern2.y</key>
      <real>-175.33333333333334</real>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-75.33333333333333</real>
      <key>public.kern2.O</key>
      <real>-45.333333333333336</real>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.U</key>
      <real>-25.333333333333336</real>
      <key>public.kern2.W</key>
      <real>-65.33333333333333</real>
      <key>public.kern2.Y</key>
      <real>-62.66666666666667</real>
      <key>public.kern2.asterisk</key>
      <real>-45.333333333333336</real>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.o</key>
      <real>-75.33333333333333</real>
      <key>public.kern2.question</key>
      <real>-17.333333333333336</real>
      <key>public.kern2.u</key>
      <integer>-60</integer>
      <key>public.kern2.y</key>
      <real>-117.33333333333333</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.1</key>
      <real>-37.333333333333336</real>
      <key>public.kern2.A</key>
      <real>-75.33333333333333</real>
      <key>public.kern2.H</key>
      <real>37.333333333333336</real>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.M</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.O</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.S</key>
      <real>15.333333333333332</real>
      <key>public.kern2.T</key>
      <integer>-110</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <real>-45.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-75.33333333333333</real>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.h</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.n</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <real>-45.333333333333336</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-197.33333333333334</real>
      <key>public.kern2.H</key>
      <real>7.333333333333333</real>
      <key>public.kern2.J</key>
      <real>-107.33333333333333</real>
      <key>public.kern2.M</key>
      <real>-72.66666666666667</real>
      <key>public.kern2.T</key>
      <real>-62.666666666666664</real>
      <key>public.kern2.W</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.X</key>
      <real>-72.66666666666667</real>
      <key>public.kern2.Y</key>
      <real>-67.33333333333333</real>
      <key>public.kern2.Z</key>
      <real>-57.333333333333336</real>
      <key>public.kern2.h</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.j</key>
      <real>-82.66666666666667</real>
      <key>public.kern2.n</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
      <key>public.kern2.u</key>
      <real>-52.666666666666664</real>
      <key>public.kern2.y</key>
      <real>-47.333333333333336</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-17.333333333333336</real>
      <key>public.kern2.H</key>
      <real>29.999999999999996</real>
      <key>public.kern2.J</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.y</key>
      <real>-35.333333333333336</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <real>15.333333333333332</real>
      <key>public.kern2.J</key>
      <real>-17.333333333333336</real>
      <key>public.kern2.O</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.T</key>
      <real>-55.333333333333336</real>
      <key>public.kern2.W</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.Y</key>
      <real>-25.333333333333336</real>
      <key>public.kern2.i</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.n</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.p</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.u</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.w</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.y</key>
      <real>-75.33333333333333</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>idieresis</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-200</integer>
      <key>public.kern2.J</key>
      <real>-182.66666666666666</real>
      <key>public.kern2.M</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-80</integer>
      <key>public.kern2.S</key>
      <real>-45.333333333333336</real>
      <key>public.kern2.h</key>
      <real>-52.666666666666664</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <real>-137.33333333333334</real>
      <key>public.kern2.n</key>
      <real>-177.33333333333334</real>
      <key>public.kern2.o</key>
      <real>-155.33333333333334</real>
      <key>public.kern2.period</key>
      <integer>-120</integer>
      <key>public.kern2.s</key>
      <integer>-160</integer>
      <key>public.kern2.u</key>
      <real>-122.66666666666667</real>
      <key>public.kern2.w</key>
      <real>-202.66666666666666</real>
      <key>public.kern2.y</key>
      <integer>-190</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-62.666666666666664</real>
      <key>public.kern2.J</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.M</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-182.66666666666666</real>
      <key>public.kern2.H</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>-180</integer>
      <key>public.kern2.M</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.W</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.X</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.Y</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.Z</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.h</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <real>-67.33333333333333</real>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <real>-127.33333333333333</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <real>-85.33333333333333</real>
      <key>public.kern2.w</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>public.kern2.y</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-25.333333333333336</real>
      <key>public.kern2.H</key>
      <real>45.333333333333336</real>
      <key>public.kern2.O</key>
      <real>-45.333333333333336</real>
      <key>public.kern2.W</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.hyphen</key>
      <real>-67.33333333333333</real>
      <key>public.kern2.o</key>
      <real>-57.333333333333336</real>
      <key>public.kern2.y</key>
      <real>-57.333333333333336</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>idieresis</key>
      <real>-57.333333333333336</real>
      <key>public.kern2.A</key>
      <integer>-210</integer>
      <key>public.kern2.H</key>
      <real>45.333333333333336</real>
      <key>public.kern2.J</key>
      <real>-225.33333333333334</real>
      <key>public.kern2.M</key>
      <real>-62.66666666666667</real>
      <key>public.kern2.O</key>
      <real>-75.33333333333333</real>
      <key>public.kern2.S</key>
      <real>-25.333333333333336</real>
      <key>public.kern2.W</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.hyphen</key>
      <real>-65.33333333333333</real>
      <key>public.kern2.i</key>
      <integer>-80</integer>
      <key>public.kern2.n</key>
      <real>-105.33333333333333</real>
      <key>public.kern2.o</key>
      <integer>-150</integer>
      <key>public.kern2.p</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <integer>-130</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <real>-77.33333333333333</real>
      <key>public.kern2.w</key>
      <real>-145.33333333333334</real>
      <key>public.kern2.z</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.hyphen</key>
      <real>-65.33333333333333</real>
      <key>public.kern2.o</key>
      <real>-47.333333333333336</real>
      <key>public.kern2.y</key>
      <real>-77.33333333333333</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.i</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.o</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.u</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <real>-25.333333333333336</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>30</integer>
      <key>public.kern2.j</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.p</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.w</key>
      <real>-25.333333333333336</real>
      <key>public.kern2.x</key>
      <real>-25.333333333333336</real>
      <key>public.kern2.y</key>
      <real>-25.333333333333336</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <integer>10</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.M</key>
      <real>-67.33333333333333</real>
      <key>public.kern2.O</key>
      <real>12.666666666666666</real>
      <key>public.kern2.W</key>
      <real>47.333333333333336</real>
      <key>public.kern2.f</key>
      <integer>30</integer>
      <key>public.kern2.h</key>
      <real>22.666666666666668</real>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <real>35.333333333333336</real>
      <key>public.kern2.o</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <real>35.333333333333336</real>
      <key>public.kern2.u</key>
      <integer>30</integer>
      <key>public.kern2.w</key>
      <real>-12.666666666666666</real>
      <key>public.kern2.x</key>
      <real>7.333333333333333</real>
      <key>public.kern2.y</key>
      <real>4.666666666666666</real>
      <key>public.kern2.z</key>
      <real>2.666666666666667</real>
    </dict>
    <key>public.kern1.five</key>
    <dict>
      <key>public.kern2.five</key>
      <integer>-30</integer>
      <key>public.kern2.zero</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.four</key>
    <dict>
      <key>public.kern2.zero</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.i</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.j</key>
      <real>15.333333333333334</real>
      <key>public.kern2.o</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.w</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.x</key>
      <real>-15.333333333333332</real>
      <key>public.kern2.y</key>
      <real>-67.33333333333333</real>
      <key>public.kern2.z</key>
      <real>-5.333333333333334</real>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.W</key>
      <real>-57.333333333333336</real>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.j</key>
      <real>-55.33333333333333</real>
      <key>public.kern2.n</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.p</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.s</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.y</key>
      <real>-17.333333333333336</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>g</key>
      <real>-55.333333333333336</real>
      <key>public.kern2.hyphen</key>
      <real>-35.333333333333336</real>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.s</key>
      <real>-35.333333333333336</real>
      <key>public.kern2.t</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.u</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <real>-22.666666666666668</real>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.j</key>
      <real>15.333333333333334</real>
      <key>public.kern2.w</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.y</key>
      <real>-22.666666666666668</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-142.66666666666666</real>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-130</integer>
      <key>public.kern2.j</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <real>-25.333333333333332</real>
      <key>public.kern2.w</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.x</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.y</key>
      <real>-17.333333333333336</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.M</key>
      <real>-75.33333333333333</real>
      <key>public.kern2.T</key>
      <real>-155.33333333333334</real>
      <key>public.kern2.W</key>
      <real>-127.33333333333333</real>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-150</integer>
      <key>public.kern2.h</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.j</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.n</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <real>-37.333333333333336</real>
      <key>public.kern2.u</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.w</key>
      <real>-45.333333333333336</real>
      <key>public.kern2.x</key>
      <real>-75.33333333333333</real>
      <key>public.kern2.y</key>
      <real>-55.333333333333336</real>
      <key>public.kern2.z</key>
      <real>-37.333333333333336</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <real>-5.333333333333334</real>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.j</key>
      <real>107.33333333333333</real>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <real>-7.333333333333334</real>
    </dict>
    <key>public.kern1.quotedblleft</key>
    <dict>
      <key>public.kern2.M</key>
      <integer>-90</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <real>-12.666666666666668</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <real>7.333333333333334</real>
      <key>public.kern2.J</key>
      <real>-25.333333333333336</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.s</key>
      <real>-15.333333333333334</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.H</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.W</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.f</key>
      <integer>40</integer>
      <key>public.kern2.h</key>
      <integer>30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.o</key>
      <real>-75.33333333333333</real>
      <key>public.kern2.p</key>
      <real>22.666666666666668</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>50</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <real>32.666666666666664</real>
      <key>public.kern2.x</key>
      <integer>20</integer>
      <key>public.kern2.y</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.z</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-25.333333333333336</real>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.j</key>
      <real>7.333333333333334</real>
      <key>public.kern2.o</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.x</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.y</key>
      <real>-15.333333333333334</real>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-170</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.h</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-17.333333333333336</real>
      <key>public.kern2.j</key>
      <real>-17.333333333333332</real>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.p</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.y</key>
      <real>-12.666666666666668</real>
    </dict>
    <key>public.kern1.two</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-60</integer>
      <key>public.kern2.zero</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.Y</key>
      <real>-52.666666666666664</real>
      <key>public.kern2.j</key>
      <real>-12.666666666666666</real>
      <key>public.kern2.o</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.p</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-147.33333333333334</real>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <real>-202.66666666666666</real>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-25.333333333333336</real>
      <key>public.kern2.h</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <real>5.333333333333334</real>
      <key>public.kern2.o</key>
      <real>-55.333333333333336</real>
      <key>public.kern2.p</key>
      <real>-5.333333333333334</real>
      <key>public.kern2.period</key>
      <real>-47.333333333333336</real>
      <key>public.kern2.s</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.w</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.x</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.y</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>g</key>
      <integer>-50</integer>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.j</key>
      <real>5.333333333333334</real>
      <key>public.kern2.n</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.p</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.s</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.w</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>g</key>
      <real>-45.333333333333336</real>
      <key>public.kern2.h</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.hyphen</key>
      <real>-37.333333333333336</real>
      <key>public.kern2.i</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.n</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.o</key>
      <real>-52.66666666666667</real>
      <key>public.kern2.p</key>
      <real>-17.333333333333336</real>
      <key>public.kern2.period</key>
      <real>-67.33333333333333</real>
      <key>public.kern2.s</key>
      <real>-15.333333333333334</real>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.j</key>
      <real>-17.333333333333332</real>
      <key>public.kern2.o</key>
      <real>-7.333333333333334</real>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>public.kern2.zero</key>
      <real>-15.333333333333334</real>
    </dict>
  </dict>
</plist>
