<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-56.333333333333336</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-106.33333333333333</real>
      <key>public.kern2.H</key>
      <integer>-5</integer>
      <key>public.kern2.J</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.M</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <real>-67.66666666666667</real>
      <key>public.kern2.S</key>
      <real>-102.66666666666667</real>
      <key>public.kern2.T</key>
      <integer>-180</integer>
      <key>public.kern2.U</key>
      <real>-8.666666666666668</real>
      <key>public.kern2.W</key>
      <real>-181.33333333333334</real>
      <key>public.kern2.X</key>
      <real>-11.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-211.33333333333334</real>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.asterisk</key>
      <integer>-120</integer>
      <key>public.kern2.f</key>
      <real>-102.66666666666667</real>
      <key>public.kern2.h</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <real>-42.666666666666664</real>
      <key>public.kern2.j</key>
      <real>-52.666666666666664</real>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.p</key>
      <real>-11.333333333333336</real>
      <key>public.kern2.quotedblleft</key>
      <real>-18.66666666666667</real>
      <key>public.kern2.quoteright</key>
      <real>-18.66666666666667</real>
      <key>public.kern2.s</key>
      <real>-56.333333333333336</real>
      <key>public.kern2.t</key>
      <integer>-130</integer>
      <key>public.kern2.u</key>
      <real>-62.666666666666664</real>
      <key>public.kern2.w</key>
      <real>-143.66666666666666</real>
      <key>public.kern2.x</key>
      <integer>-45</integer>
      <key>public.kern2.y</key>
      <real>-138.66666666666666</real>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-47.66666666666667</real>
      <key>public.kern2.H</key>
      <integer>40</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <real>18.666666666666664</real>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <real>-1.3333333333333335</real>
      <key>public.kern2.W</key>
      <real>12.333333333333332</real>
      <key>public.kern2.Y</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.period</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.u</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>idieresis</key>
      <real>12.666666666666668</real>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <real>31.333333333333332</real>
      <key>public.kern2.J</key>
      <integer>-75</integer>
      <key>public.kern2.M</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.O</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <real>16.333333333333332</real>
      <key>public.kern2.X</key>
      <real>26.333333333333332</real>
      <key>public.kern2.Y</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.colon</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.n</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.o</key>
      <real>-63.666666666666664</real>
      <key>public.kern2.period</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.u</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.y</key>
      <real>-76.33333333333333</real>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.H</key>
      <real>17.666666666666664</real>
      <key>public.kern2.J</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.O</key>
      <real>-26.333333333333332</real>
      <key>public.kern2.W</key>
      <real>26.333333333333332</real>
      <key>public.kern2.o</key>
      <real>-56.333333333333336</real>
      <key>public.kern2.quoteright</key>
      <real>3.666666666666667</real>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.w</key>
      <real>-38.666666666666664</real>
      <key>public.kern2.x</key>
      <real>-51.333333333333336</real>
      <key>public.kern2.y</key>
      <real>-42.666666666666664</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-166.33333333333334</real>
      <key>public.kern2.H</key>
      <real>17.666666666666664</real>
      <key>public.kern2.J</key>
      <real>-126.33333333333333</real>
      <key>public.kern2.M</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <real>-52.666666666666664</real>
      <key>public.kern2.i</key>
      <real>-58.666666666666664</real>
      <key>public.kern2.n</key>
      <real>-76.33333333333333</real>
      <key>public.kern2.o</key>
      <real>-112.66666666666667</real>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.u</key>
      <real>-76.33333333333333</real>
      <key>public.kern2.y</key>
      <real>-76.33333333333333</real>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.H</key>
      <integer>20</integer>
      <key>public.kern2.U</key>
      <real>3.666666666666667</real>
      <key>public.kern2.W</key>
      <integer>35</integer>
      <key>public.kern2.o</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.y</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.W</key>
      <integer>70</integer>
      <key>public.kern2.Y</key>
      <real>17.666666666666664</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.quoteright</key>
      <real>12.666666666666668</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.H</key>
      <real>17.666666666666664</real>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.S</key>
      <integer>-5</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-65</integer>
      <key>public.kern2.u</key>
      <real>-57.666666666666664</real>
      <key>public.kern2.w</key>
      <real>-66.33333333333333</real>
      <key>public.kern2.y</key>
      <real>-82.66666666666667</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.O</key>
      <integer>-110</integer>
      <key>public.kern2.T</key>
      <integer>-150</integer>
      <key>public.kern2.U</key>
      <real>-101.33333333333333</real>
      <key>public.kern2.W</key>
      <integer>-190</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-130</integer>
      <key>public.kern2.asterisk</key>
      <integer>-105</integer>
      <key>public.kern2.f</key>
      <real>-48.666666666666664</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <real>-113.66666666666667</real>
      <key>public.kern2.u</key>
      <real>-147.66666666666666</real>
      <key>public.kern2.w</key>
      <integer>-190</integer>
      <key>public.kern2.y</key>
      <real>-187.66666666666666</real>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-67.66666666666667</real>
      <key>public.kern2.O</key>
      <real>-37.66666666666667</real>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.U</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.W</key>
      <real>-52.66666666666667</real>
      <key>public.kern2.Y</key>
      <real>-51.333333333333336</real>
      <key>public.kern2.asterisk</key>
      <real>-52.666666666666664</real>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.o</key>
      <real>-67.66666666666667</real>
      <key>public.kern2.question</key>
      <real>-8.666666666666668</real>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.y</key>
      <real>-118.66666666666667</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.1</key>
      <real>-43.666666666666664</real>
      <key>public.kern2.A</key>
      <real>-67.66666666666667</real>
      <key>public.kern2.H</key>
      <real>37.666666666666664</real>
      <key>public.kern2.J</key>
      <integer>-70</integer>
      <key>public.kern2.M</key>
      <real>-11.333333333333336</real>
      <key>public.kern2.O</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.S</key>
      <real>17.666666666666664</real>
      <key>public.kern2.T</key>
      <integer>-115</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <real>-37.66666666666667</real>
      <key>public.kern2.Y</key>
      <real>-67.66666666666667</real>
      <key>public.kern2.Z</key>
      <integer>-5</integer>
      <key>public.kern2.h</key>
      <integer>-5</integer>
      <key>public.kern2.i</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.n</key>
      <real>-1.3333333333333335</real>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.w</key>
      <integer>-40</integer>
      <key>public.kern2.y</key>
      <real>-42.666666666666664</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-188.66666666666666</real>
      <key>public.kern2.H</key>
      <real>13.666666666666666</real>
      <key>public.kern2.J</key>
      <real>-103.66666666666667</real>
      <key>public.kern2.M</key>
      <real>-61.333333333333336</real>
      <key>public.kern2.T</key>
      <real>-66.33333333333333</real>
      <key>public.kern2.W</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.X</key>
      <real>-71.33333333333333</real>
      <key>public.kern2.Y</key>
      <real>-68.66666666666667</real>
      <key>public.kern2.Z</key>
      <real>-58.666666666666664</real>
      <key>public.kern2.h</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.j</key>
      <real>-96.33333333333333</real>
      <key>public.kern2.n</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
      <key>public.kern2.u</key>
      <real>-51.333333333333336</real>
      <key>public.kern2.y</key>
      <real>-48.666666666666664</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-8.666666666666668</real>
      <key>public.kern2.H</key>
      <real>47.666666666666664</real>
      <key>public.kern2.J</key>
      <real>-11.333333333333336</real>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.T</key>
      <integer>-5</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.y</key>
      <real>-27.666666666666668</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <real>17.666666666666664</real>
      <key>public.kern2.J</key>
      <real>-8.666666666666668</real>
      <key>public.kern2.O</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.T</key>
      <real>-57.666666666666664</real>
      <key>public.kern2.W</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.Y</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.i</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.n</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.p</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.u</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.w</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.y</key>
      <real>-77.66666666666667</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>idieresis</key>
      <integer>-35</integer>
      <key>public.kern2.A</key>
      <integer>-200</integer>
      <key>public.kern2.J</key>
      <real>-191.33333333333334</real>
      <key>public.kern2.M</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-80</integer>
      <key>public.kern2.S</key>
      <real>-52.666666666666664</real>
      <key>public.kern2.h</key>
      <real>-56.333333333333336</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <real>-143.66666666666666</real>
      <key>public.kern2.n</key>
      <real>-188.66666666666666</real>
      <key>public.kern2.o</key>
      <real>-147.66666666666666</real>
      <key>public.kern2.period</key>
      <integer>-120</integer>
      <key>public.kern2.s</key>
      <integer>-170</integer>
      <key>public.kern2.u</key>
      <real>-131.33333333333334</real>
      <key>public.kern2.w</key>
      <real>-211.33333333333334</real>
      <key>public.kern2.y</key>
      <integer>-195</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-61.333333333333336</real>
      <key>public.kern2.J</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.M</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.n</key>
      <integer>-5</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-181.33333333333334</real>
      <key>public.kern2.H</key>
      <integer>30</integer>
      <key>public.kern2.J</key>
      <integer>-180</integer>
      <key>public.kern2.M</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.W</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.X</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.Y</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.Z</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.h</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.i</key>
      <real>-63.666666666666664</real>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <real>-123.66666666666667</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <real>-82.66666666666667</real>
      <key>public.kern2.w</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.x</key>
      <integer>-15</integer>
      <key>public.kern2.y</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.H</key>
      <real>52.666666666666664</real>
      <key>public.kern2.O</key>
      <real>-37.66666666666667</real>
      <key>public.kern2.W</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.hyphen</key>
      <real>-63.666666666666664</real>
      <key>public.kern2.o</key>
      <real>-53.666666666666664</real>
      <key>public.kern2.y</key>
      <real>-53.666666666666664</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>idieresis</key>
      <real>-58.666666666666664</real>
      <key>public.kern2.A</key>
      <integer>-205</integer>
      <key>public.kern2.H</key>
      <real>52.666666666666664</real>
      <key>public.kern2.J</key>
      <real>-232.66666666666666</real>
      <key>public.kern2.M</key>
      <real>-51.333333333333336</real>
      <key>public.kern2.O</key>
      <real>-67.66666666666667</real>
      <key>public.kern2.S</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.W</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.hyphen</key>
      <real>-62.666666666666664</real>
      <key>public.kern2.i</key>
      <integer>-70</integer>
      <key>public.kern2.n</key>
      <real>-102.66666666666667</real>
      <key>public.kern2.o</key>
      <integer>-135</integer>
      <key>public.kern2.p</key>
      <integer>-90</integer>
      <key>public.kern2.period</key>
      <integer>-125</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <real>-73.66666666666667</real>
      <key>public.kern2.w</key>
      <real>-152.66666666666666</real>
      <key>public.kern2.z</key>
      <integer>-85</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <real>-31.333333333333332</real>
      <key>public.kern2.hyphen</key>
      <real>-62.666666666666664</real>
      <key>public.kern2.o</key>
      <real>-48.666666666666664</real>
      <key>public.kern2.y</key>
      <real>-78.66666666666667</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.i</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.o</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.u</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.w</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <real>-12.666666666666668</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>35</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.p</key>
      <integer>-5</integer>
      <key>public.kern2.s</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.w</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.x</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.y</key>
      <real>-12.666666666666668</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <integer>10</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.M</key>
      <real>-68.66666666666667</real>
      <key>public.kern2.O</key>
      <real>11.333333333333334</real>
      <key>public.kern2.W</key>
      <real>48.666666666666664</real>
      <key>public.kern2.f</key>
      <integer>35</integer>
      <key>public.kern2.h</key>
      <real>26.333333333333332</real>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.j</key>
      <integer>-15</integer>
      <key>public.kern2.n</key>
      <real>37.666666666666664</real>
      <key>public.kern2.o</key>
      <real>-21.333333333333332</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <real>37.666666666666664</real>
      <key>public.kern2.u</key>
      <integer>35</integer>
      <key>public.kern2.w</key>
      <real>-11.333333333333334</real>
      <key>public.kern2.x</key>
      <real>13.666666666666666</real>
      <key>public.kern2.y</key>
      <real>12.333333333333332</real>
      <key>public.kern2.z</key>
      <real>1.3333333333333335</real>
    </dict>
    <key>public.kern1.five</key>
    <dict>
      <key>public.kern2.five</key>
      <integer>-30</integer>
      <key>public.kern2.zero</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.four</key>
    <dict>
      <key>public.kern2.zero</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.h</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.i</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.j</key>
      <real>7.666666666666668</real>
      <key>public.kern2.o</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.w</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.x</key>
      <real>-17.666666666666664</real>
      <key>public.kern2.y</key>
      <real>-68.66666666666667</real>
      <key>public.kern2.z</key>
      <real>-2.666666666666667</real>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.W</key>
      <real>-58.666666666666664</real>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.j</key>
      <real>-67.66666666666666</real>
      <key>public.kern2.n</key>
      <real>-1.3333333333333335</real>
      <key>public.kern2.p</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.s</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.y</key>
      <real>-8.666666666666668</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>g</key>
      <real>-52.666666666666664</real>
      <key>public.kern2.hyphen</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.j</key>
      <integer>-65</integer>
      <key>public.kern2.o</key>
      <integer>-55</integer>
      <key>public.kern2.s</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.t</key>
      <real>-26.333333333333332</real>
      <key>public.kern2.u</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.w</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <real>-11.333333333333336</real>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.j</key>
      <real>7.666666666666668</real>
      <key>public.kern2.w</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.y</key>
      <real>-11.333333333333336</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-146.33333333333334</real>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-125</integer>
      <key>public.kern2.j</key>
      <integer>5</integer>
      <key>public.kern2.o</key>
      <real>-22.666666666666668</real>
      <key>public.kern2.w</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.x</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.y</key>
      <real>-8.666666666666668</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.M</key>
      <real>-67.66666666666667</real>
      <key>public.kern2.T</key>
      <real>-147.66666666666666</real>
      <key>public.kern2.W</key>
      <real>-123.66666666666667</real>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-135</integer>
      <key>public.kern2.h</key>
      <integer>-5</integer>
      <key>public.kern2.i</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.j</key>
      <real>-26.333333333333332</real>
      <key>public.kern2.n</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.p</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <real>-43.666666666666664</real>
      <key>public.kern2.u</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.w</key>
      <real>-42.666666666666664</real>
      <key>public.kern2.x</key>
      <real>-67.66666666666667</real>
      <key>public.kern2.y</key>
      <real>-47.66666666666667</real>
      <key>public.kern2.z</key>
      <real>-38.666666666666664</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <real>-2.666666666666667</real>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <real>103.66666666666667</real>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.w</key>
      <real>-3.666666666666667</real>
    </dict>
    <key>public.kern1.quotedblleft</key>
    <dict>
      <key>public.kern2.M</key>
      <integer>-85</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-5</integer>
      <key>public.kern2.w</key>
      <real>-6.333333333333334</real>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <real>3.666666666666667</real>
      <key>public.kern2.J</key>
      <real>-12.666666666666668</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.s</key>
      <real>-7.666666666666668</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.H</key>
      <real>-21.333333333333332</real>
      <key>public.kern2.W</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.f</key>
      <integer>40</integer>
      <key>public.kern2.h</key>
      <integer>30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <real>-41.33333333333333</real>
      <key>public.kern2.o</key>
      <real>-77.66666666666667</real>
      <key>public.kern2.p</key>
      <real>26.333333333333332</real>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>50</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <real>31.333333333333332</real>
      <key>public.kern2.x</key>
      <integer>20</integer>
      <key>public.kern2.y</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.z</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.i</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.j</key>
      <real>3.666666666666667</real>
      <key>public.kern2.o</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.w</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.x</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.y</key>
      <real>-7.666666666666668</real>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-175</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.W</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.h</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <real>-8.666666666666668</real>
      <key>public.kern2.j</key>
      <real>-28.666666666666664</real>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.p</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.y</key>
      <real>-6.333333333333334</real>
    </dict>
    <key>public.kern1.two</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-60</integer>
      <key>public.kern2.zero</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.Y</key>
      <real>-61.33333333333333</real>
      <key>public.kern2.j</key>
      <real>-21.333333333333332</real>
      <key>public.kern2.o</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.p</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.y</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-143.66666666666666</real>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <real>-211.33333333333334</real>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <real>-12.666666666666668</real>
      <key>public.kern2.h</key>
      <integer>-5</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <integer>-5</integer>
      <key>public.kern2.j</key>
      <real>2.666666666666667</real>
      <key>public.kern2.o</key>
      <real>-47.66666666666667</real>
      <key>public.kern2.p</key>
      <real>-2.666666666666667</real>
      <key>public.kern2.period</key>
      <real>-43.666666666666664</real>
      <key>public.kern2.s</key>
      <real>-6.333333333333334</real>
      <key>public.kern2.w</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.x</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.y</key>
      <real>-11.333333333333336</real>
      <key>public.kern2.z</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>g</key>
      <integer>-45</integer>
      <key>public.kern2.W</key>
      <integer>-15</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.j</key>
      <real>2.666666666666667</real>
      <key>public.kern2.n</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.p</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.s</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.w</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.y</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>g</key>
      <real>-37.66666666666667</real>
      <key>public.kern2.h</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.hyphen</key>
      <real>-33.666666666666664</real>
      <key>public.kern2.i</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.n</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.o</key>
      <real>-41.333333333333336</real>
      <key>public.kern2.p</key>
      <real>-8.666666666666668</real>
      <key>public.kern2.period</key>
      <real>-63.666666666666664</real>
      <key>public.kern2.s</key>
      <real>-7.666666666666668</real>
      <key>public.kern2.t</key>
      <integer>-5</integer>
      <key>public.kern2.x</key>
      <real>-26.333333333333332</real>
      <key>public.kern2.y</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
      <key>public.kern2.j</key>
      <real>-23.666666666666664</real>
      <key>public.kern2.o</key>
      <real>-3.666666666666667</real>
      <key>public.kern2.w</key>
      <integer>-5</integer>
      <key>public.kern2.y</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>public.kern2.zero</key>
      <real>-7.666666666666668</real>
    </dict>
  </dict>
</plist>
