<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3058</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axis Mappings</key>
    <dict>
      <key>ital</key>
      <dict>
        <key>0</key>
        <integer>0</integer>
        <key>1</key>
        <integer>1</integer>
      </dict>
      <key>wght</key>
      <dict>
        <key>100</key>
        <integer>100</integer>
        <key>900</key>
        <integer>900</integer>
      </dict>
    </dict>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG
the quick brown fox jumps over the lazy dog
Spacing
nanbncndnenfngnhninjnknlnmnnonpnqnrnsntnunvnwnxnynzn
HAHBHCHDHEHFHGHHIHJHKHLHMHNHOHPHQHRHSHTHUHVHWHXHYHZH
0102030405060708090
lower case//lower case
aufkauf aufhalt aufbleib
verixt auflassen 
hoe auffassen
le aufißt raufjagen fine
aufnden Tiefieger
Stolos Muon Stoigel Ozier
Raband Tuhöhle Sukopp 
führen fördern fähre
wegjagen Bargfeld
kyrie afro arte axe luvwärts
Gevatter wann 
ever gewettet severe
davon gewonnen down
wichtig recken
ndnlhon*”
nlnlhon*”dh
fîî tíì lïïë th nsa
Versal//Kleinbuchstaben
Farbe Fest Firn Fjord Font
Frau Fuß Fähre Förde Füße
Rest Rohr Röhre Rymer
Test Tod Tauf Tim Tja Turm
Traum Tsara Twist Tyrol
Tüte Töten Täter TéTêTèVeste Vogel VéVêVèVater Vijf Vlut Vulkan
Vytautas Vroni Väter Vögel Vs Ws Vz Wz
Weste Wolf Wüste Wörpe Wärter Waage Wiege Wlasta
Wurst Wyhl Wrasen
Yeats Yoni auf Yqem
Yak Ybbs Yggdrasil Yps
Ysop Ytong Yuma
Versal//Versal
ATK AVI AWL AYN LTK
LVI LWL LYN V TH
RTK TVI RWL RYN
TABULA VATER WASSER
YAKUZA FABEL PAPST
UNÐE H</string>
      <string>abcdefghijklmnopqrstuvwxyz</string>
      <string>™</string>
      <string>ı</string>
      <string>í</string>
      <string>î</string>
      <string>ï</string>
      <string>ì</string>
      <string>ıíîïì</string>
      <string>ÎÏÌ</string>
      <string>Ð</string>
      <string>Æ</string>
      <string>AM</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.Enforce Compatibility Check</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.Get Hints From Master</key>
    <string>1CD17C54-76A1-4E1B-8239-8E220F720805</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Variable Font Origin</key>
    <string>1CD17C54-76A1-4E1B-8239-8E220F720805</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.gasp Table</key>
    <dict/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.variableStyleName</key>
    <string>Sans</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.Master Icon Glyph Name</key>
    <string>n</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.InstanceDescriptorAsGSInstance.Style Name as STAT entry</key>
    <string>wght</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>designspace.location</key>
    <array>
      <array>
        <string>Weight</string>
        <real>200.0</real>
      </array>
      <array>
        <string>Italic</string>
        <real>0.0</real>
      </array>
    </array>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Ccedilla</string>
      <string>D</string>
      <string>Eth</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>Germandbls</string>
      <string>T</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Z</string>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccedilla</string>
      <string>d</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>germandbls</string>
      <string>t</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>z</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>mu</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zeroinferior</string>
      <string>oneinferior</string>
      <string>twoinferior</string>
      <string>threeinferior</string>
      <string>fourinferior</string>
      <string>fiveinferior</string>
      <string>sixinferior</string>
      <string>seveninferior</string>
      <string>eightinferior</string>
      <string>nineinferior</string>
      <string>zerosuperior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>fraction</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>oneeighth</string>
      <string>threeeighths</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>hyphen</string>
      <string>softhyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>primeReversed</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>enspace</string>
      <string>space</string>
      <string>nbspace</string>
      <string>thinspace</string>
      <string>zerowidthspace</string>
      <string>nonmarkingreturn</string>
      <string>.null</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterequal</string>
      <string>lessequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
      <string>asciicircum</string>
      <string>emptyset</string>
      <string>infinity</string>
      <string>integral</string>
      <string>product</string>
      <string>summation</string>
      <string>radical</string>
      <string>partialdiff</string>
      <string>micro</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>upArrow</string>
      <string>northEastArrow</string>
      <string>rightArrow</string>
      <string>southEastArrow</string>
      <string>downArrow</string>
      <string>southWestArrow</string>
      <string>leftArrow</string>
      <string>northWestArrow</string>
      <string>leftRightArrow</string>
      <string>upDownArrow</string>
      <string>lozenge</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>replacementCharacter</string>
      <string>apostrophemod</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>cedillacomb</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>ogonek</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Germandbls</key>
      <string>uni1E9E</string>
      <key>apostrophemod</key>
      <string>uni02BC</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>downArrow</key>
      <string>arrowdown</string>
      <key>eightinferior</key>
      <string>uni2088</string>
      <key>eightsuperior</key>
      <string>uni2078</string>
      <key>enspace</key>
      <string>uni2002</string>
      <key>euro</key>
      <string>Euro</string>
      <key>fiveinferior</key>
      <string>uni2085</string>
      <key>fivesuperior</key>
      <string>uni2075</string>
      <key>fourinferior</key>
      <string>uni2084</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>idotless</key>
      <string>dotlessi</string>
      <key>leftArrow</key>
      <string>arrowleft</string>
      <key>leftRightArrow</key>
      <string>arrowboth</string>
      <key>micro</key>
      <string>uni00B5</string>
      <key>mu</key>
      <string>uni03BC</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nineinferior</key>
      <string>uni2089</string>
      <key>ninesuperior</key>
      <string>uni2079</string>
      <key>northEastArrow</key>
      <string>uni2197</string>
      <key>northWestArrow</key>
      <string>uni2196</string>
      <key>oneinferior</key>
      <string>uni2081</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>primeReversed</key>
      <string>uni2035</string>
      <key>replacementCharacter</key>
      <string>uniFFFD</string>
      <key>rightArrow</key>
      <string>arrowright</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>seveninferior</key>
      <string>uni2087</string>
      <key>sevensuperior</key>
      <string>uni2077</string>
      <key>sixinferior</key>
      <string>uni2086</string>
      <key>sixsuperior</key>
      <string>uni2076</string>
      <key>softhyphen</key>
      <string>uni00AD</string>
      <key>southEastArrow</key>
      <string>uni2198</string>
      <key>southWestArrow</key>
      <string>uni2199</string>
      <key>thinspace</key>
      <string>uni2009</string>
      <key>threeinferior</key>
      <string>uni2083</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twoinferior</key>
      <string>uni2082</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>upArrow</key>
      <string>arrowup</string>
      <key>upDownArrow</key>
      <string>arrowupdn</string>
      <key>zeroinferior</key>
      <string>uni2080</string>
      <key>zerosuperior</key>
      <string>uni2070</string>
      <key>zerowidthspace</key>
      <string>uni200B</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array/>
  </dict>
</plist>
